<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1"-->
     
    <title>Cidermics Admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <style>
div#fixed {
    position: fixed;
    top:0;
    left:0;
    width:100%;
}
</style>
    
  </head>
  <body>
     <% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="container">
      <div class="row">
         <h5>콘텐츠 수정하기</h5>
         <form action="/adm/contents/insert/upload" method="post" enctype="multipart/form-data">
             <!-- <input type="file" name="file" />
             <input type="submit" /> -->
            <div class="file-field input-field">
                <div class="btn">
                  <span>이미지 등록</span>
                   <input type="file" name="file" multiple>
                </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
             </div>
             <input type="submit" class="btn waves-effect waves-light" value="업로드" />
         </form>
         <form class="col s12" id="cform">
            <div class="row" style="margin-top:  2em;">
               <input type="hidden" value="<%= contents[0].con_no %>" name="no"> 
               <div class="input-field col s12">
                  <select name="category">
                     <option value="" disabled>카테고리를 정해주세요</option>
                     
                     <% for(var i=0; i < cate.length; i++) {  %> 
                         <option value="<%=cate[i].cate_no%>" <% if( contents[0].con_category == cate[i].cate_no){ %> selected <% } %> > <%=cate[i].cate_name%> </option>
                         
                     <% } %>
                     
                   </select>
                   <!--label>카테고리</label-->
               </div>
                
                
               <div class="input-field col l12">
                   
                  <input id="title" type="text" class="validate" value="<%= contents[0].con_title %>">
                  <label for="제목">제목</label>
                  
                  <!-- Modal Trigger -->
                   <a class="waves-effect waves-light btn modal-trigger1" href="#modal1">이미지 설정</a>
                   
                  
                   <!-- Modal Structure -->
                   <div id="modal1" class="modal">
                      <div class="navbar-fixed">
                         <nav>
                              <div class="nav-wrapper">
                             <a class="brand-logo"><h5>이미지 등록</h5></a>
                             <ul class="right hide-on-med-and-down">
                                  <li><a href="#!" class="btn-thumb modal-action waves-effect waves-green btn-flat">썸네일 설정</a></li>
                                  <li><a href="#!" class="btn-contents modal-action waves-effect waves-green btn-flat">본문 이미지 설정</a></li>
                             </ul>
                              </div>
                         </nav>
                       </div>
                       
                      <ul class="pagination"></ul>
                      <!--div class="modal-footer">
                        <a href="#!" class="btn-thumb modal-action waves-effect waves-green btn-flat">썸네일 설정</a>
                        <a href="#!" class="btn-contents modal-action waves-effect waves-green btn-flat">본문 이미지 설정</a>
                      </div-->
                   
                   
               
                      <div class="modal-content">
                        <div class="images">
                        </div>
                      </div>
                      
                   </div>
                   
                  <div class="preview row" style="display:block;">
                     <p>대표 이미지</p>
                     <img src="<%= contents[0].con_photo %>" class="img-responsive col l4" />
                     <input type="hidden" name="photo" value="<%= contents[0].con_photo %>">
                  </div>
                  
                  <textarea id="content"><%- contents[0].con_content %></textarea>
                  
                  <script type="text/javascript">
                     $(document).ready(function() {
                         $('select').material_select();
                        
                     });
                     
                        
                     
                     
                  </script>
                  
                  <% if (contents[0].con_content) { %>
                     <script>
                     $(document).ready(function() {
                        var oEditors = [];
                     nhn.husky.EZCreator.createInIFrame ({
                        
                        oAppRef : oEditors,
                                                
                        elPlaceHolder : "content",
                        
                        sSkinURI : "/smart_editor/SmartEditor2Skin.html",
                        
                        fCreator : "createSEditor2"
                     });
                     });
                        
                     </script>   
                  <% } %>
                                    
               </div>
                     
            </div>
            
            
            <div class="input-field col s12">
                    <select id="user"  onchange="valueChanged(this.value)">
                        <option value="">에디터를 정해주세요</option>
                        <% for(var i=0; i < user.length; i++) {  %> 
                          
                         <option value="<%=user[i].user_no%>/<%=user[i].user_name%>" data-icon="<%= user[i].profile_img %>" <% if( contents[0].user_no == user[i].user_no){ %> selected <%} %>> <%=user[i].user_name%> </option>
                        <% } %>
                    </select>
                    <!--label>에디터</label-->
                    
                    <script>
                	$("#user").change(function(){
                		  //alert($(this).val());
                		 // if(this.val('경제/금융을 사이다처럼 시원하게 풀어드리겠습니다 :')){
                		 	var chk=$(this).val();
                		 	var res="";
                		 	if(chk=="1/사이다경제")
                		  	{
                		  		res="경제/금융을 사이다처럼 시원하게 풀어드리겠습니다 :)";
                		  	}
                		  	if(chk=="3/조석민")
                		  	{
                		  		res="진인사대천명";
                		  	}
                		  	if(chk=="4/황원지")
                		  	{
                		  		res="정치, 국제 이슈를 쉽게 경제로 풀어드리는 황원지 입니다:)";
                		  	}
                		  	if(chk=="5/강준구")
                		  	{
                		  		res="Busy getting stronger";
                		  	}
                		  	if(chk=="7/이동규")
                		  	{
                		  		res="함께 공부하는 경제이야기!";
                		  	}
                		  	if(chk=="8/이윤범")
                		  	{
                		  		res="바르게 바라보고, 바르게 쓰겠습니다.";
                		  	}
                		  	if(chk=="9/유토미")
                		  	{
                		  		res="일상 속 경제이슈를 쉽고 재밌게 알려드립니다!";
                		  	}
                		  	if(chk=="10/최효선")
                		  	{
                		  		res="좋은 글을 쓰도록 하겠습니다.";
                		  	}
                		  	if(chk=="13/연두")
                		  	{
                		  		res="투자에 관심이 많고, 실제로 직접투자를 계속 해오고 있습니다.";
                		  	}
                        if(chk=="14/안세하")
                        {
                          res="돈은 주머니에 휴지는 휴지통에";
                        }
                		  	if(chk=="15/김이오")
                		  	{
                		  		res="육감적으로";
                		  	}
                		  	if(chk=="16/이영돈")
                		  	{
                		  		res="시노자키 아이를 좋아합니다.";
                		  	}
                		  	if(chk=="17/오혜미")
                		  	{
                		  		res="사이다경제 SNS소통지기를 맡고 있습니다. '좋아요' 많이 눌러주시면 좋아요!";
                		  	}
                        if(chk=="18/최은빈")
                        {
                          res="그것은 아무도 모르는 무척 아름답고 투명한 일이다.";
                        }
                        if(chk=="19/류광현")
                        {
                          res="어둠을 볼 수 있다면 빛을 볼 수도 있을 거야. 그 둘은 이름만 다를 뿐이니까";
                        }
                        if(chk=="20/정 에스텔")
                        {
                          res="엄마가 차려준 밥상처럼 따뜻한 글을 쓰고 싶지만, 아직까지 수없이 흔들리고 방황하며 살고 있는 사람.";
                        }
                        if(chk=="21/이지원")
                        {
                          res="Ready to bloom";
                        }
                        if(chk=="22/이창현")
                        {
                          res="회계로 보는 재미있는 세상";
                        }
                        if(chk=="23/hw")
                        {
                          res="신문공장 노동자";
                        }
                        if(chk=="24/이상혁")
                        {
                          res="스포츠 속에 숨어있는 경제를 알기 쉽게 이야기 해드립니다.";
                        }
                        if(chk=="25/민성식")
                        {
                           res="살아있는 상업용 부동산 지식과 경험을 공유합니다.";
                        }
                        if(chk=="26/김재민")
                        {
                           res="게임덕후와 함께 경제를 배워봐요!";
                        }
                        if(chk=="27/앞집(APTzib)")
                        {
                           res="누구나 무료로 빅데이터로 분석된 전국의 아파트/지역/학군 정보를 검색할 수 있고,나에게 딱 알맞는아파트도 자동으로 추천해 드립니다.";
                        }
                        if(chk=="28/박설")
                        {
                           res="뷰티를 통한 도움되는 정보들을 소개합니다.";
                        }
                        if(chk=="29/김민지")
                        {
                           res="똑소리나는 경제 상식을 전해 드립니다.";
                        }
                        if(chk=="30/금융스쿨장")
                        {
                           res="어떻게 하면 부자가 될 것인가? 그 해답을 같이 알아가 봅시다.";
                        }
                        if(chk=="31/윤형노")
                        {
                           res="시대를 만난 아이디어만큼 강력한 것은 없다.";
                        }
                        if(chk=="32/정근태")
                        {
                           res="하나의 문장에는 하나의 생각이, 하나의 행동에는 하나의 신념이";
                        }
                        if(chk=="33/월스트릿트레이닝아시아")
                        {
                           res="금융권에서 가치를 평가하는 방법인 Financial Modeling를 실무 중심으로 교육하는 국내 유일의 전문 업체입니다.";
                        }
                        if(chk=="34/Smart Simon")
                        {
                           res="스스로를 가치있게, 스스로를 위대하게";
                        }
                        if(chk=="35/이래학")
                        {
                           res="공시 속에 숨겨진 기업의 의도를 찾아내 투자 관점에서 재해석합니다.";
                        }
                        
                        if(chk=="36/정훈화")
                        {
                           res="복잡한 이론 때문에 핵심을 간과해서는 안된다. 이론은 참고사항이다.";
                        }
                		
                		    if(chk=="37/For the VIP")
                        {
                           res="알고 싶었지만 놓쳤던 일상의 돈 이야기에서 심오한 재무내용까지, 지금 알려드리겠습니다!";
                        }
                        if(chk=="38/넥스틴")
                        {
                           res="유통전문가의 P2P금융 즐거운 투자쇼핑 넥스틴!";
                        }
                        if(chk=="39/박동수")
                        {
                           res="어려운 경제 이야기를 쉽고 재미있게 설명해 드립니다~";
                        }
                        if(chk=="40/김유라")
                        {
                           res="행복한 일상을 꿈꾸는 에디터 #해피유라 입니다:)";
                        }
                        if(chk=="41/박지은")
                        {
                           res="국제경제에 관심많은 경제학도";
                        }
                        if(chk=="42/박다솜")
                        {
                           res="천릿길도 한 걸음부터!";
                        }
                        if(chk=="43/한수영")
                        {
                           res="어린아이처럼 경제를 좋아하는 호당이입니다";
                        }
                        if(chk=="44/오다정")
                        {
                           res="우리 모두는 진흙탕에서 허우적대지. 하지만 이 가운데 몇몇은 밤하늘의 별들을 바라본다네. -오스카 와일드";
                        }
                        if(chk=="45/윤슬기")
                        {
                           res="카르페 디엠";
                        }
                        if(chk=="46/한대희")
                        {
                           res="시장에서 덜 조명받았지만 가치 있는 기업을 쉽고 깊이 있게 전달하겠습니다.";
                        }
                        if(chk=="47/행복토끼")
                        {
                           res="인생은 끊임없는 선택의 연속입니다. 언제나 행복하세요^^";
                        }
                        if(chk=="48/이재형")
                        {
                           res="경제지식 습득이 강한 나라를 만든다";
                        }
                        if(chk=="49/바른사람들 포도")
                        {
                           res="최고의 자산관리 전문가들이 잘 모으고, 잘 불리고, 잘 지켜드립니다. ";
                        }
                        if(chk=="50/핀북(Finbook)")
                        {
                           res="세상에 하나뿐인 당신을 위한 1:1 맞춤형 재무보고서";
                        }
                        if(chk=="51/백연승")
                        {
                           res="자유를 위한 치열한 돈공부. 노력도 꾸준함도 재능이다!";
                        }
                        if(chk=="52/이안투자")
                        {
                           res="코넥스 특례상장 국내1위 증권형 크라우드 펀딩 기업!";
                        }
                        if(chk=="53/최가희")
                        {
                           res="중국 현지소식을 현장에서 따끈따끈하게 전해드립니다!";
                        }
                        if(chk=="54/굿초보")
                        {
                           res="굿초보는 소비자들의 합리적인 보험 선택을 돕는 보험 정보 플랫폼입니다. 돈이 되는 보험 정보와 맞춤 보험 비교, 모이면 저렴해지는 보험 공동 구매 서비스를 제공합니다.";
                        }
                        
                        
                		  //$("#userText").val($(this).val());
                		  $("#userText").val(res);
});
                </script>
                </div>
            <div class="input-field col s12">
                    <textarea name="userText" id="userText" class="materialize-textarea"><%- contents[0].user_comment %></textarea>
                    <label>에디터 한마디</label></div>
                    
            <div class="input-field col s12">
              <label for="제목">게시 일자 설정 (예 : 2017년 9월 1일 14시 30분 일시 -> 201709011430)</label>
              <input id="rdate" name="rdate" type="text" class="validate" maxlength="12" value="<%- contents[0].con_release %>">
            </div>
            
             
            <input type="hidden" name="contents">         
            <input type="hidden" name="title">
            <input type="hidden" name="writer">         
            <input type="hidden" name="userNo">
         </form>
         <div class="center-align">
            <button class="btn waves-effect waves-light" id="update">수정하기
               <i class="material-icons right">send</i>
            </button>
         </div>
      </div>
    </div>
  </body>
  <script src="/js/custom.js"></script>
  
  </html>