<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 결제완료</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>

<style type="text/css">



input.MyButton {
padding: 10px 15px;
cursor: pointer;
font-weight: bold;
background: #3882be;
font-size:18px;
color: #fff;
border: 2px solid #3882be;
border-radius: 3px;
margin:5px;
}
input.MyButton:hover {
color: #333;
background: #ffffff;
border: 2px solid #3882be;
}

</style>

</head>

<body>



<% include ../top %>

<div id="check-purchase" >
	<div class="title-box">
	<div class="container">
		<span class="title"><b>결제완료 / 신청서 작성</b></span>
	</div>
	</div>
	<div class="check-purchase-in container" align="center">
		<div class="row step">
		<div class="col-xs-5 text" align="left"><span style="color:#1b87c9; margin-right:5px;">■</span><b style="font-size: 17px;">신청서 작성</b></div>
		<div class="col-xs-7 img" align="right"><img class="stepimg img-responsive" src="/page_imgs/pay_img/img-step_2.png"></div>
		<!-- p align="left"><b>주문번호 : </b> <span style="color:#1b87c9; font-size:18px;"><b> "<%=ORDERNO%>" </b></span><p-->
		</div>
		<div class="check-pincode row">
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">주문번호</div>
				<div class="amount"><%=ORDERNO%></div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">주문일</div>
				<div class="amount"></div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">주문 금액</div>
				<div class="amount"><%=AMOUNT%></div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">결제 현황</div>
				<div class="amount">완료</div>
			</div>
		</div>
		<!--div class="way" align="left">
			<p>※ 구매내역 확인 방법</p>
			<p>회원 구매시 : >></p>
			<p>비회원 구매시 : >></p>
		</div-->
		
		<div id="pur-form" align="left">

			<form method="post" action="/finbook_ch_code/<%=ORDERNO%>" name="getcode">
			<input type="hidden" name="">
			<input type="hidden" name="ORDERNO" value="<%=ORDERNO%>">
			<div class="form-box">
				<div class="row form-style1">
					<div class="col-xs-12"><p class="care"> * 결제 완료 후 반드시 신청서를 작성하셔야 진행이 가능합니다.<br>* 각 항목을 빠짐없이 정확하게 입력주세요.</p>
					<div class="col-xs-12"><p class="title">신청자 성명<span class="star"> * </span></p> : <input class="input-style1" type=text name=USERNAME value=""></div>
					<div class="col-xs-12"><p class="title">이메일<span class="star"> * </span></p> : <input class="input-style1" type=text name=EMAIL size=20 value="" placeholder="예) cider@cider.com"></div>
					<div class="col-xs-12"><p class="title">휴대번호<span class="star"> * </span></p> : <input class="input-style1" type="text" name="TELNO" size="" maxlength="11" value="" placeholder="'-', 공백없이"><br><p style="margin-left:116px;">예) 01012345678</p></div>
					<div class="col-xs-12"><p class="title">생년월일</p> : <input class="input-style1" type=text name=USERNAME value="" placeholder="19890101"></div>
					<div class="col-xs-12"><p class="title">성별</p> : 
						<label class="radio-inline" style="margin-left: 10px;">
					      <input type="radio" name="optradio">남
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="optradio">여
					    </label>
					</div>

					<div class="divider"></div>
					<!--div class="col-xs-12" align="right" class="fincode-btn" onClick="getCode()"><b>핀코드 발급 받기</b></div-->
					<div class="col-xs-12" align="right"><input class="MyButton" type="button" value="신청서 작성완료"  onClick="getCode()" /></div>
				</div>


				
			</div>

				<!-- >div class="inspection-btn" style="background-color: #fff; height: 80px;">

					<div class="col-xs-12 next" align="right">
					<button class="fincode-btn" onClick="nosmt()"><b>핀코드 발급 받기</b></button>
					<a onClick="getCode()" style="cursor:pointer"><img src="/page_imgs/finbook_img/fincodebtn.jpg"></a>
					</div>

					<!--button onClick="nosmt()"><b>핀코드 발급 받기</b></button>
					<!-- a href="/finbook_ch_code/"><span><b>핀코드 받기</b></span></a>
				</div-->
			
			</form>
		</div>
	</div>
</div>

<% include ../bottom %>


</body>
</html>