<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 콘텐츠</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<style type="text/css">
	.con_border{
		border: 1px solid #ececec;
		border-radius: 6px;
		padding-bottom: 10px;
	}
	.con_border a{margin-top:0 !important;}
</style>

</head>
<body>
<% include ../top %>

<div class="bg-blue">
<div class="bg-white container">

<div class="contents container">
		<div class="con-search row" align="center">
			<div class="search-title"><p>총 "<%= contents.length%>"개의 검색 결과</p></div>
			<ul class="grid effect-2" id="grid">
				<% for(var i=0; i<contents.length; i++) { %>
				<li>
				<div class="con_border" style="padding:0;">
					
					<a href="/contents/detail/<%= contents[i].con_no %>">
					<div class="con-img" align="center"><img class="img-responsive" src="<%= contents[i].con_photo %>"></div></a>
					
					
					<p><a href="/contents/detail/<%= contents[i].con_no %>">
						<%= contents[i].con_title %></a></p>
				</div>
			</li>
			<% } %>
			</ul>
		</div>
</div>

</div>
</div>

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>


<% include ../bottom %>

    

</body>
</html>
