<!DOCTYPE html>
<html>
  <head>
    <title>Cidermics admin</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <!--link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/-->
<style>
input[type=submit] {
    padding:5px 15px; 
    color:#FFFFFF;
    background:#2F8ECD; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.acss{
	padding:5px 15px; 
    color:#FFFFFF;
    background:#CCCCCC; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
</style>

<script type="text/javascript">
  function deletechk(no){
    var con_test = confirm("삭제할까요? 신중히 선택하세요");
    if(con_test == true){
      location.href="/adm/fin/delete/"+no;
    }
    else if(con_test == false){
      alert("잘 선택하세용~~");
      histroy.back(-1);
    }
  }
</script>

  </head>
  <body>
  	<% var data= CP; %>

      <div class=""><li><a href="/logout">로그아웃</a></li><li><a href="http://cidermics.com/">사이다경제 홈페이지 가기</a></li></div>

      <div class="button-area">
        <span style="color: red; background-color: #ff0;">★★NEW★★</span><a href="/adm/fin/slist" class="waves-effect waves-light btn">재무 후기 모음</a>
      </div>
    	
      <table class="bordered">
        <thead>
          <tr>
          	  <th data-field="fi_app_no">접수번호</th>
              <th data-field="fi_app_name">사용자이름</th>
              <th data-field="fi_app_phone">전화번호</th>
              <th data-field="date">등록날짜</th>
          </tr>
        </thead>
        <tbody>
      		<% for(var i = 0; i<finance.length; i++) { %>
      			<tr>
      				<input type="hidden" name="fi_app_no" value="<%= finance[i].fi_app_no %>" />
      				<td><%= finance[i].fi_app_no %></td>
      				<td><a href="/adm/fin/detail/<%= finance[i].fi_app_no %>"><%= finance[i].fi_app_name %></td>
      				<td><%= finance[i].fi_app_phone %></td>
      				<td><%= finance[i].fi_app_upDate %></td>
      			</tr>
      		<% } %>
        </tbody>
      </table>
    </div>
      
  </body>
</html>
