<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>사이다경제 경이로움 스터디</title>
  <!-- 메인 문구 -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'>

  <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_pr_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

<style type="text/css">
    /* just for jsfiddle */

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  }

  .middle-indicator{
   position:absolute;
   top:43%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:white !important;
  }
  .content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }

  .indicators{
    visibility: hidden;
  }

  p{
    line-height: 2rem;
  }

  .detail2{
    background-color: #fbfbfb;
    width: 100%;
    max-width:1700px;
    padding: 40px 0 20px;
  }

  .divider2{
    height: 4px; overflow: hidden; background-color: #bee4f7;
  }
  .divider3{
    margin-top: 3px;
    height: 1px; overflow: hidden; background-color: #039be5;
  }

  .textfont{
    font-family: seoulhangangregular !important;
    font-weight: normal;
    font-size: 2.2rem;
    letter-spacing: 2px;
  }

  .textfont2{
    font-family: seoulhangangregular !important;
    font-weight: 550;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .textfont3{
    font-family: seoulhangangregular !important;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

</style>

<style type="text/css">
  .apply-form button:hover{
    border:2px solid #1b87c9;
    background-color:#fff;
    color:#1b87c9;
  }
  .apply-form button{
    border:2px solid #1b87c9;
    background-color:#1b87c9;
    color:#fff;
    width:200px;
    height:auto;
    border-radius:40px;
    font-weight:bold;
    font-size: 18px;
    padding:10px 0 10px 0;
    margin: 4px;
  }
  .apply-form2 a button:hover{
    border:2px solid #1b87c9;
    background-color:#ececec;
    color:#1b87c9;
  }
  .apply-form2 a button{
    border:2px solid #1b87c9;
    background-color:#fff;
    color:#1b87c9;
    width:200px;
    height:auto;
    border-radius:40px;
    font-weight:bold;
    font-size: 18px;
    padding:10px 0 10px 0;
    margin: 4px;
  }

  .slider1{
    background:url("<%=md[0].slimg1%>") no-repeat center top;
    background-size:auto 100%;
  }
  .slider2{
    background:url("<%=md[0].slimg2%>") no-repeat center top;
    background-size:auto 100%;
  }
  .slider3{
    background:url("<%=md[0].slimg3%>") no-repeat center top;
    background-size:auto 100%;
  }
  .slider4{
    background:url("<%=md[0].slimg4%>") no-repeat center top;
    background-size:auto 100%;
  }

  .box1{
  border:4px solid #73c8a6; padding:20px 40px; display:inline-block; margin-top:50px; font-size:18px;}

</style>

<style type="text/css">
@media(max-width: 600px){
	.mob-none{display:none;}
	.mob-margin1{margin-bottom:20px;}
  #slidermobsize{
    height: 150px !important;
  }

  .slider1{
    background:url("<%=md[0].slimg1%>") no-repeat center top;
    background-size:auto 40%;
  }
  .slider2{
    background:url("<%=md[0].slimg2%>") no-repeat center top;
    background-size:auto 40%;
  }
  .slider3{
    background:url("<%=md[0].slimg3%>") no-repeat center top;
    background-size:auto 40%;
  }
  .slider4{
    background:url("<%=md[0].slimg4%>") no-repeat center top;
    background-size:auto 40%;
  }

}
</style>

<style type="text/css">
  #countdown {
      text-align: center;
      background-color:#000;
  }
  #countdown p {
      display: inline-block;
      padding: 10px;
      background: #212121;
      margin: 0 0 20px;
      border-radius: 3px;
      color: white;
      min-width: 2.6rem;
      font-size:23px;
  }
</style>

<style type="text/css">
#study-info{}

a.btn-review h5 span{color:#0aa0f6 !important; border:2px solid #0aa0f6; border-radius:5px; padding:20px 40px; display:inline-block; margin-top:100px}
a.btn-review h5 span:hover{background-color:#0aa0f6; color:#fff !important}
a.btn-seminar h5 span{color:#fff !important; border:2px solid #0aa0f6; border-radius:5px; padding:20px 40px; display:inline-block; margin-top:20px; margin-bottom:50px}
a.btn-seminar h5 span:hover{background-color:#0aa0f6; color:#fff !important}

#countdown{padding:80px 0 40px 0}
.database{color:#000; padding:30px 0 60px 0; font-size:24px;}
.database .container input{font-size:20px; background-color:#f4f4f4; padding:2px 4px; margin-top:10px}
.database .container span.color1{color:#f9ff00}
.database .container #btn1 span{background-color:#000; border:2px solid #f9ff00; border-radius:50px; padding:15px 50px;}
.database .container #btn1 span:hover{background-color:#f9ff00;}
.database .container #btn1 a{color:#fff;}
.database .container #btn1 a:hover{color:#000;}
@media only screen and (max-width : 1024px) {
#study-info{padding-top:20px;}

.margin0{margin-bottom:0}
#countdown{padding:40px 0 0 0}
.database{font-size:18px; padding:30px 0 25px 0;}
.database .container input{height:20px; margin-top:0}
}
</style>

<script type="text/javascript">
  function commaNum(num) {
      var len, point, str;  
      num = num + "";  
      point = num.length % 3  
      len = num.length;  
   
      str = num.substring(0, point);  
      while (point < len) {  
          if (str != "") str += ",";  
          str += num.substring(point, point + 3);  
          point += 3;  
      }  
      return str;  
  }


  $(document).ready(function(){    
      for (i=0; i<$(".amount").length; i++){
          $(".amount").eq(i).text(commaNum($(".amount").eq(i).html()));   
      }
  });

</script>


<script type="text/javascript">
/*
 * Basic Count Down to Date and Time
 * Author: @guwii / guwii.com
 */
(function (e) {
  e.fn.countdown = function (t, n) {
    function i() {
      eventDate = Date.parse(r.date) / 1e3;
      currentDate = Math.floor(e.now() / 1e3);
      if (eventDate <= currentDate) {
        n.call(this);
        clearInterval(interval)
      }
      seconds = eventDate - currentDate;
      days = Math.floor(seconds / 86400);
      seconds -= days * 60 * 60 * 24;
      hours = Math.floor(seconds / 3600);
      seconds -= hours * 60 * 60;
      minutes = Math.floor(seconds / 60);
      seconds -= minutes * 60;
      days == 1 ? thisEl.find(".timeRefDays").text("day") : thisEl.find(".timeRefDays").text("일");
      hours == 1 ? thisEl.find(".timeRefHours").text("hour") : thisEl.find(".timeRefHours").text("시간");
      minutes == 1 ? thisEl.find(".timeRefMinutes").text("minute") : thisEl.find(".timeRefMinutes").text("분");
      seconds == 1 ? thisEl.find(".timeRefSeconds").text("second") : thisEl.find(".timeRefSeconds").text("초");
      if (r["format"] == "on") {
        days = String(days).length >= 2 ? days : "0" + days;
        hours = String(hours).length >= 2 ? hours : "0" + hours;
        minutes = String(minutes).length >= 2 ? minutes : "0" + minutes;
        seconds = String(seconds).length >= 2 ? seconds : "0" + seconds
      }
      if (!isNaN(eventDate)) {
        thisEl.find(".days").text(days);
        thisEl.find(".hours").text(hours);
        thisEl.find(".minutes").text(minutes);
        thisEl.find(".seconds").text(seconds)
      } else {
        alert("Invalid date. Example: 30 Tuesday 2013 15:50:00");
        clearInterval(interval)
      }
    }
    var thisEl = e(this);
    var r = {
      date: null,
      format: null
    };
    t && e.extend(r, t);
    i();
    interval = setInterval(i, 1e3)
  }
})(jQuery);
$(document).ready(function () {
  function e() {
    var e = new Date;
    e.setDate(e.getDate() + 60);
    dd = e.getDate();
    mm = e.getMonth() + 1;
    y = e.getFullYear();
    futureFormattedDate = mm + "/" + dd + "/" + y;
    return futureFormattedDate
  }
  $("#countdown").countdown({
    date: "31 Oct 2018 00:00:00", // Change this to your desired date to countdown to
    format: "on"
  });
});
</script>


<script type="text/javascript">
  function surveyGo()
  {
    if(document.prinsert.pname.value==""){
     alert("이름을 입력해 주세요.");
    document.prinsert.pname.focus();
      return;
    }
    if(document.prinsert.phone.value==""){
     alert("휴대폰 번호를 정확히 입력해 주세요.");
    document.prinsert.phone.focus();
      return;
    }
    
    for (i=0; i<document.prinsert.phone.value.length; i++)
       {
         var ch = document.prinsert.phone.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
      if ( ch < "0" || ch > "9" )
         {
              alert("휴대폰 번호는 숫자로만 입력 가능 합니다!");
              document.prinsert.phone.focus();
              return;
           }
        }
    if(document.prinsert.email.value==""){
     alert("이메일 주소를 입력해 주세요.");
    document.prinsert.email.focus();
      return;
    }

    if(!document.prinsert.check1.checked){
                alert("서비스 이용약관에 동의하셔야 신청이 가능합니다."); 
                return;
         
        }else if(document.prinsert.check1.checked){
          if(!document.prinsert.check2.checked){
                alert("개인정보 수집 및 이용 동의하셔야 신청이 가능합니다.");
                return;
        }
      }

    //alert("참여해 주셔서 감사합니다.")
    document.prinsert.submit();
  }
</script>

  
  <script src="/js/gotoup.js"></script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  <% include pr_top %>

<div id="study-new">
	<div id="study-info-w" align="center">
		<img class="responsive-img mob-n" src="https://i.imgur.com/hgMq3wI.jpg" width="100%">
	</div>
	<div id="study-info" align="center" style="margin:-10px 0">
		<img class="responsive-img web-n" src="https://i.imgur.com/XBFxqrP.jpg" width="100%">
	</div>
	
	<!-- 스터디개별이미지 -->
	<img class="responsive-img mob-n" src="https://i.imgur.com/8WY7INe.jpg" width="100%">
	<img class="responsive-img web-n" src="https://i.imgur.com/xNQVQQ3.jpg" width="100%">
	
	<!-- pdf준다는 내용의 배너 -->
	<div align="center" style="margin:-10px 0">
	  <img class="responsive-img" src="https://i.imgur.com/v179Cde.jpg">
	</div>

<!--div class="database" style="background-color:#000" align="center">
  <span>선착순 100명 : 현재까지 <span class="days" style="color:#f9ff00;">68명</span> 신청</span>
</div-->
	
	<div id="countdown"><!-- 마감임박 -->
	  <p style="color:#f9ff00;">선착순 웹진 신청 마감시간까지</p><br class="web-n">
	  <p class="days" style="color:#f9ff00;">00</p>
	  <p class="timeRefDays">일</p>
	  <p class="hours" style="color:#f9ff00;">00</p>
	  <p class="timeRefHours">시간</p>
	  <p class="minutes" style="color:#f9ff00;">00</p>
	  <p class="timeRefMinutes">분</p>
	  <p class="seconds" style="color:#f9ff00;">00</p>
	  <p class="timeRefSeconds">초</p>
	  
	  <div><span style="color:#9ddaff;">*</span> <a class="modal-trigger" style="color:#9ddaff;">스터디 담당 매니저가 스터디와 관련된 상담을 도와드릴 예정입니다.</a></div>
	
	</div>

<!-- DB 작성 칸 -->
<div class="database" style="background-color:#000">
  <div class="container">     
    <div class="row">

      <form action="/prinsert" method="post" name="prinsert" class="col s12">
        <input type="hidden" name="cate" value="<%=md[0].cate%>">
        <input type="hidden" name="idx" value="<%=md[0].idx%>">
        <input type="hidden" name="tele_check" value="2">

        <div class="row margin0">
          <div id="name" class="input-field col s6">
            <span class="color1">이름 : </span>
            <input type="text" name="pname" length="4" >
          </div>
          <div id="phon" class="input-field col s6">
            <span class="color1">전화번호 : </span>
            <input type="text" name="phone" maxlength="11" >
          </div>
        </div>

        <div class="row margin0">
          <div class="input col s12 l8">
            <input type="checkbox" id="check1" name="check1" />
            <label for="check1">서비스 이용약관 동의 <span style="color:#1987c8;">*</span> <a class="modal-trigger" href="#modal1" style="color:#1987c8;">내용보기</a></label>
            <br>
            <input type="checkbox" id="check2" name="check2"/>
            <label for="check2">개인정보 수집 및 이용 동의 <span style="color:#1987c8;">*</span><a class="modal-trigger" href="#modal2" style="color:#1987c8;">내용보기</a></label>
            <br>
            <br>
          </div>
        </div>

        <div id="btn1" align="center">
          <br><a style="cursor:pointer" onclick="surveyGo()"><span>신청하기</span></a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 여기부터는 고정 -->
<div class="divider"></div>
<div class="section0">
  <div class="container">
      <div class="row">
        <div class="col s12 m12"><img class="responsive-img" src="<%=md[0].postscript%>"></div>
      </div> 
  </div>
	<div class="container">
		<h4>경이로움 멤버들의 진솔한 후기 인터뷰</h4>
		<div class="line1"></div>
			<div class="row">
				<div class="col s12 m6"><img class="responsive-img" src="/page_imgs/study_img/img-section9-thum3.jpg"></div>
				<div class="web-n col s12" style="margin-bottom:30px;"></div>
				<div class="col s12 m6"><img class="responsive-img" src="/page_imgs/study_img/img-section9-thum4.jpg"></div>
			</div>		
	</div>
</div>

<!-- DB 작성 칸 -->
<div class="database" style="background-color:#000">
  <div class="container">     
    <div class="row">

      <form action="/prinsert" method="post" name="prinsert" class="col s12">
        <input type="hidden" name="cate" value="<%=md[0].cate%>">
        <input type="hidden" name="idx" value="<%=md[0].idx%>">
        <input type="hidden" name="tele_check" value="2">

        <div class="row margin0">
          <div id="name" class="input-field col s6">
            <span class="color1">이름 : </span>
            <input type="text" name="pname" length="4" >
          </div>
          <div id="phon" class="input-field col s6">
            <span class="color1">전화번호 : </span>
            <input type="text" name="phone" maxlength="11" >
          </div>
        </div>

        <div class="row margin0">
          <div class="input col s12 l8">
            <input type="checkbox" id="check1" name="check1" />
            <label for="check1">서비스 이용약관 동의 <span style="color:#1987c8;">*</span> <a class="modal-trigger" href="#modal1" style="color:#1987c8;">내용보기</a></label>
            <br>
            <input type="checkbox" id="check2" name="check2"/>
            <label for="check2">개인정보 수집 및 이용 동의 <span style="color:#1987c8;">*</span><a class="modal-trigger" href="#modal2" style="color:#1987c8;">내용보기</a></label>
            <br>
            <br>
          </div>
        </div>

        <div id="btn1" align="center">
          <br><a style="cursor:pointer" onclick="surveyGo()"><span>신청하기</span></a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="section1">
	<div class="container" >
		<h4>경이로움 스터디는 왜 다를까?</h4>
		<div class="line1"></div>
		<div align="center">
			<img class="responsive-img" src="https://i.imgur.com/1ki4ceq.jpg" style="margin-top:20px">
			<img class="responsive-img" src="https://i.imgur.com/QjkIeKh.jpg" style="margin-top:20px">
		</div>
	</div>
</div>

<div class="section0">
	<div class="container">
		<h4>경이로움 현장</h4>
		<div class="line1"></div>
		<div class="row">
			<div class="col s12 m4 mob-margin1"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/uFyT7lN.jpg"></div>
			<div class="col s12 m4"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/QVtSQJc.jpg"></div>
			<div class="col s6 m4 mob-none"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/tnDmlaP.jpg"></div>
		</div>
		<div class="row">
			<div class="col s6 m4"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/onD5fFQ.jpg"></div>
			<div class="col s6 m4"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/RD39NDP.jpg"></div>
			<div class="col s6 m4 mob-none"><img class="responsive-img materialboxed z-depth-1" src="https://i.imgur.com/Hv3bGrc.jpg"></div>
		</div>
		<div align="center">
			<!-- img class="responsive-img" src="https://i.imgur.com/CChI9Mm.png" style="margin-top:20px" -->
		</div>		
	</div>
</div>
</div>


<!-- DB 작성 칸 -->
<div class="database" style="background-color:#000">
  <div class="container">     
    <div class="row">

      <form action="/prinsert" method="post" name="prinsert" class="col s12">
        <input type="hidden" name="cate" value="<%=md[0].cate%>">
        <input type="hidden" name="idx" value="<%=md[0].idx%>">
        <input type="hidden" name="tele_check" value="2">

        <div class="row margin0">
          <div id="name" class="input-field col s6">
            <span class="color1">이름 : </span>
            <input type="text" name="pname" length="4" >
          </div>
          <div id="phon" class="input-field col s6">
            <span class="color1">전화번호 : </span>
            <input type="text" name="phone" maxlength="11" >
          </div>
        </div>

        <div class="row margin0">
          <div class="input col s12 l8">
            <input type="checkbox" id="check1" name="check1" />
            <label for="check1">서비스 이용약관 동의 <span style="color:#1987c8;">*</span> <a class="modal-trigger" href="#modal1" style="color:#1987c8;">내용보기</a></label>
            <br>
            <input type="checkbox" id="check2" name="check2"/>
            <label for="check2">개인정보 수집 및 이용 동의 <span style="color:#1987c8;">*</span><a class="modal-trigger" href="#modal2" style="color:#1987c8;">내용보기</a></label>
            <br>
            <br>
          </div>
        </div>

        <div id="btn1" align="center">
          <br><a style="cursor:pointer" onclick="surveyGo()"><span>신청하기</span></a>
        </div>
      </form>
    </div>
  </div>
</div>


<% include pr_bottom %>

<!-- cpc광고적용 스크립트 -->
<div style="background-color:rgb(17, 17, 17)">
<iframe width="0" height="0" src="https://dinojob.com/u/act/cpc.php"></iframe>
</div>
</body>
</html>

