<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 경이로움 스터디</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" -->
    
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>var ml = { timelines: {}};</script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <script src="/js/gotoup.js"></script>




<!-- 리더소개 슬라이드 -->
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slide");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block"; 
  
}
</script>

<!-- 구글맵 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApL28eYOAjGJwdSdWc90TGTQtQ0PZuov4" type="text/javascript"></script>
<script>
      function initialize() {

         var Y_point         = 37.5042191;      // Y 좌표
         var X_point         = 127.0384090;      // X 좌표

         var Y_point2         = 37.5109643;      // Y 좌표
         var X_point2         = 127.0648511;      // X 좌표

         var zoomLevel      = 17;                  // 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼

         var markerTitle      = "혜성빌딩";            // 현재 위치 마커에 마우스를 오버을때 나타나는 정보
         var markerTitle2      = "하나금융투자 Club1 금융센터"; 
         var markerMaxWidth   = 300;                  // 마커를 클릭했을때 나타나는 말풍선의 최대 크기

         // 말풍선 내용
         //var contentString   = '<div>' +
         //'<h5>경이로움 스터디</h5>'+
         //'<span>사이다경제가 운영하는 스터디를 통해<br />' +
         //   '경제로 놀고 말하고 즐겨보세요!</span><br /><br />' +
         //'<a href="http://www.cidermics.com/study" target="_blank">http://www.cidermics.com/study</a>'+ //링크도 넣을 수 있음
         //'</div>';

         var myLatlng = new google.maps.LatLng(Y_point, X_point);
         var mapOptions = {
                        zoom: zoomLevel,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
         }
         var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

         var marker = new google.maps.Marker({
                                       position: myLatlng,
                                       map: map,
                                       title: markerTitle
         });


         var myLatlng2 = new google.maps.LatLng(Y_point2, X_point2);
         var mapOptions2 = {
                        zoom: zoomLevel,
                        center: myLatlng2,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
         }
         var map2 = new google.maps.Map(document.getElementById('map_view1'), mapOptions2);

         var marker2 = new google.maps.Marker({
                                       position: myLatlng2,
                                       map: map2,
                                       title: markerTitle2
         });



         var infowindow = new google.maps.InfoWindow(
                                          {
                                             content: contentString,
                                             maxWidth: markerMaxWidth
                                          }
         );

         google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
         });
         
      }
</script>

<style type="text/css">
#info-wrap {
    color:#fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.55);
    z-index: 999999;
}
.info-close {
    border: 2px solid #fff;
    color: #fff;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 0.5em;
    letter-spacing: 1px;
    margin: 1em 0 0 0;
}
.button-checkbox .btn{height:45px; padding:0 10px; background-color:#222; color:#fff !important;; font-size:14px; border-radius:2px;}
.button-checkbox .btn:hover{background-color:#ececec !important; color:#222 !important;}
.button-close .btn{height:45px; padding:0 10px; background-color:#ececec; color:#222 !important; font-size:14px; border-radius:2px;}
.button-close .btn:focus, .btn:hover{background-color:#222 !important; color:#fff !important;}
#pop{
    width: 90%;
    height:auto;
    max-width: 500px;
    max-height: 580px;
    background: #fff;
    padding: 1em 1em;
    line-height: 1.5;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    left:50%;
    padding:10px 10px;
}
.close1 div{float:left; text-align:right; }
#pdtop{padding-top:10px; margin-bottom:0px;}

@media(max-width: 760px){
#pop{
    height:auto;
    max-height: 580px;
    padding:10px 10px;
}  
}
</style>

</head>
<body onload="initialize()">
	
  <div id="but_top"><a class="btn btn-floating blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  <% include std_top %>

<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();    });

});
</script>

<!-- 메인 팝업 창 -->
<div id="info-wrap">
    <div id="pop">
       <div>
        <a href="/study/lecture"><img class="img-responsive" style="max-width:100%;" src="https://i.imgur.com/PMiDN2Y.jpg"></a>
       </div>
      <div class="close1" style="opacity:.98;">
          <form name="pop_form" id="pdtop">
            <span class="button-checkbox" style="display:none">
                <button type="button" class="btn">하루동안 보지 않기</button>
                <input type="checkbox" name="chkbox" value="checkbox"/>
            </span>
            <span class="button-close">
                <button type="button" class="btn" onclick="closePop();" style="width:100%">닫기</button>
            </span>
          </form>
      </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.carousel').carousel();
  });
      
</script>
<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";  
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script>

<div id="parallax0" align="center">
  <div class="parallax-container valign-wrapper section0">
  	<div class="row">
   		<div class="col s12">
   			<h1>경이로움</h1>
   			<h5><span>경제+이로움</span></h5>
  			<h6>어려운 경제를 쉽고 재미있게 푸는 사이다경제!<br>특별한 리더들과 경제를 쉽고 재미있게<br>즐기는 공간!  '경이로움'</h6> 	
  		</div>	
  	</div>


    <!-- div class="section no-pad-bot">
      <div class="container" >
        <div class="row center">
          <h1 class="ml4 center">
            <span class="letters letters-1">경제+이로움</span>
            <span class="letters letters-2">경이로움</span>
          </h1>
        </div>
        <div class="row center">
          <h6 class="header col s12 light">어려운 경제를 쉽고 재미있게 푸는 사이다경제!<br>특별한 리더들과 경제를 쉽고 재미있게 즐기는 <span class="mob-n">공간!</span><br>'경이로움'</h6>
        </div>
      </div>
    </div-->
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm1.jpg" alt="Unsplashed background img 1"></div>
  </div>
</div>				  
				  
<div class="bg-color1">
	<div class="t-color2">
		<div align="center">
			<h5><b>3가지 방법</b>으로<br class="web-n"> 경이로움을 이용해주세요!</h5>
			<h6 class="t-color1">자신이 원하는 방식을 통해<br class="web-n"> 효율적인 경제 지식을 얻어 보세요.</h6>
		</div>
		<div class="container mob-n">
  		<div id="section1" class="row">
  			<div id="menu-le" class="col l4"><a href="/study/lecture"><!-- <a href="#modal1" class="modal-trigger"> -->
  				<img class="responsive-img" src="/page_imgs/study_img/menuimg-le.jpg" alt=""><br>
  				<span class="btn-more1">자세히보기</span></a>
  			</div>
  			<div id="menu-st" class="col l4"><a href="/study/list">
  				<img class="responsive-img" src="/page_imgs/study_img/menuimg-st.jpg" alt=""><br>
  				<span class="btn-more2">자세히보기</span></a>
  			</div>
  			<div id="menu-bo" class="col l4"><a href="#modal1" class="modal-trigger">
  				<img class="responsive-img" src="/page_imgs/study_img/menuimg-bo-out.jpg" alt=""><br>
  				<span class="btn-more3">자세히보기</span></a>
  			</div>
  		</div>
		</div>
		<div id="section1" class="row web-n" align="center">
			<div id="m-menu-le" class="col s12"><a href="/study/lecture">
				<img class="responsive-img" src="/page_imgs/study_img/m-menuimg-le.jpg" alt=""><br>
				<span class="btn-more1">자세히보기</span></a>
			</div>
			<div id="m-menu-st" class="col s12"><a href="/study/list">
				<img class="responsive-img" src="/page_imgs/study_img/m-menuimg-st.jpg" alt=""><br>
				<span class="btn-more2">자세히보기</span></a>
			</div>
			<div id="m-menu-bo" class="col s12"><a href="#modal1" class="modal-trigger">
				<img class="responsive-img" src="/page_imgs/study_img/m-menuimg-bo-out.jpg" alt=""><br>
				<span class="btn-more3">자세히보기</span></a>
			</div>
		</div>
	</div>
</div>
<div class="bg-color2">
	<div class="container">
		<div id="section2" class="row" style="margin-bottom:0">
		<div class="col m8" style="z-index:999">
			<h6 class="t-color1">사이다경제</h6>
			<h4><b>경제,<br>너무 어려워요.</b></h4>
			<p class="mob-n">사이다경제는 다가가기 어려웠던 기존 경제 뉴스의 방식에서 탈피하여<br>
				누구든 쉽고 재미있게 경제 이야기를 즐길 수 있도록 색다른 콘텐츠를 만들어 왔습니다.<br><br>
				젊은 감각으로 풀어낸 톡 쏘는 경제 콘텐츠를 제공하는 사이다경제와 함께<br>
				경제 스터디, 강의, 독서클럽을 통해 재미있게  여러분 삶에 이로운 많은 것들을 배워보세요!</p>
			<p class="web-n">사이다경제는 다가가기 어려웠던<br>
				기존 경제 뉴스의 방식에서 탈피하여<br>
				누구든 쉽고 재미있게<br>
				경제 이야기를 즐길 수 있도록 <br>
				색다른 콘텐츠를 만들어 왔습니다.<br><br>
				젊은 감각으로 풀어낸 톡 쏘는 <br>
				경제 콘텐츠를 제공하는 사이다경제와 함께<br>
				경제 스터디, 강의, 독서클럽을 통해 재미있게 <br>
				여러분 삶에 이로운 많은 것들을 배워보세요!</p>
		<a href="/"><span class="btn-cidermain">사이다경제 방문하기</span></a>
		</div>
		<div class="col m4"><a href="/"><img class="responsive-img img-section2" src="/page_imgs/study_img/img-section2.jpg" alt=""></a></div>
		</div>
	</div>
</div>
<div class="bg-color1">
	<div id="section3" class="container t-color2" align="center">
		<img class="responsive-img" src="/page_imgs/study_img/img-section3-cloud.jpg" style="margin-bottom:40px" alt="">
		<h4><b>경제,<br class="web-n"> 어떻게 공부해야 할까요?</b></h4>
		<h5 class="t-color1 mob-n">자본주의 사회를 살기 위해, 불안한 미래를 위한 투자를 하기 위해 반드시 배워야하는 경제!<br>
			경이로움은 다양한 방식으로 경제를 공부하실 수 있는 기회를 제공하고자 노력하고 있습니다.</h5>
		<h5 class="t-color1 web-n">다양한 방식으로<br>경제를 공부할 수 있는 기회 제공</h5>
		<div class="row">
			<div class="col m12">
				<div class="row">
					<div class="col s12 m4"><img class="responsive-img" src="/page_imgs/study_img/img-section3-le.jpg"></div>
					<div class="col s12 m8" align="left">
						<h5>경이로움 스폐셜 강의</h5>
						<p class="point1">투자의 고수들은 어떻게 투자를 할까? 그들의 노하우를 전수 받는 시간!</p>
						<h6>>   4 번의 강의를 통해 하나의 주제를 완벽히 이해할 수 있는 지식을 쌓을 수 있습니다.</h6>
						<a href="/study/lecture"><div><span class="btn-more4">자세히보기</span></div></a>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m4"><img class="responsive-img" src="/page_imgs/study_img/img-section3-st.jpg"></div>
					<div class="col s12 m8" align="left">
						<h5>경이로움 스터디 </h5>
						<p class="point2">스터디 리더와 함께 직접 하나의 프로젝트를 완성시켜보자!</p>
						<h6>>  3개월 동안 엄선된 리더와 함께 달성하는 하나의 프로젝트.<br>
							>  직접 참여하여 모든 과정을 내 것으로 만들어보는 시간을 가질 수 있습니다.</h6>
						<a href="/study/list"><div><span class="btn-more4">자세히보기</span></div></a>
					</div>
				</div>	
				<div class="row">
					<div class="col s12 m4"><img class="responsive-img" src="/page_imgs/study_img/img-section3-bo.jpg"></div>
					<div class="col s12 m8" align="left">
						<h5>경이로움 독서클럽</h5>
						<p class="point3">책을 읽고 토론하며 함께 즐겨보자!</p>
						<h6>>  좋은 책을 읽고 함께 이야기를 나눠보면서 토론하는 시간을 가질 수 있습니다.</h6>
						<a href="#modal1" class="modal-trigger"><div><span class="btn-more4">자세히보기</span></div></a>
					</div>
				</div>							
			</div>
			<div class="col s12">
			<h5 class="text mob-n">여러분들이 <b>원하시는 방식으로 다양하고 재미있게</b> 경제공부를 해보세요!<br>
				경이로움을 접하기 전과 후, 경이롭게 <b>달라진 모습을 발견</b>할 수 있습니다!</h5>
			<h5 class="text web-n"><b>원하는 방식으로 다양하고 재미있게</b><br>경제공부하고,<br>경이롭게 <b>달라진 모습을 발견</b>하자!</h5>
			</div>
		</div>		
	</div>
</div>
<div>
	<div class="container">
		<div id="section4" align="center">
			<h4><b>경제, 왜 경이로움에서<br class="web-n"> 배워야 하죠?</b></h4>
			<h5 class="t-color1">사이다경제가 까다롭게 엄선한 리더,<br class="web-n"> 까다롭게 구성한 커리큘럼</h5>
			<img class="responsive-img mob-n" src="/page_imgs/study_img/img-section4.jpg">
			<img class="responsive-img web-n" src="/page_imgs/study_img/m-img-section4.jpg">
		</div>	
	</div>
</div>
<div id="parallax1">
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
		<div id="section5" align="center">
			<h4><b>경제,<br class="web-n"> 누구에게 배워야 하죠?</b></h4>
			<img class="responsive-img mob-n" src="/page_imgs/study_img/img-section5-ex.png">
			<img class="responsive-img web-n" src="/page_imgs/study_img/m-img-section5-ex.png">
			<h5 class="mob-n">이런 일 한 번쯤 경험해보신 적 있으신가요?</h5>			
			<p align="left"><span class="web-n">이런 일 한 번쯤 경험해보신 적 있으신가요?<br><br></span>
				경제는 처음 접하는 사람도,<br>
				어느 정도 경제 공부를 해봤다고 하는 사람도<br>
				끊임없이 공부하며<br>끝없이 배워가야 하는 분야입니다.<br> 
				<br>
				그렇기에 오랫동안 투자를 해오고 있는<br>
				투자 고수들의 노하우를 들어보며<br>
				투자의 방향성을 잡을 필요가 있습니다.<br>
				<br>
				경이로움에서는 수많은 경력을 가진<br>
				투자 고수를 선별하여 효과적이면서도,<br>
				초보자들도 기본부터 착실히 쌓아갈 수 있는<br>
				고수들의 노하우를 제시하고자 합니다.
		</div>
	  </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm2.jpg" alt="Unsplashed background img 2"></div>
  </div>
</div>
<div class="bg-color1">
	<div class="container">
		<div id="section5-1" align="center">
			<h4 class="t-color2 mob-n" style="line-height:2.0em">현직 베테랑들의 코칭으로 기본기를 탄탄히 쌓으며,
			<br>실전에 <b>바로 써먹을 수 있는</b> 그들의 <b>노하우</b>를 전수받아<br>지금 당장 <b>투자의 성공</b>으로 한 발짝 앞서 가보세요.</h4>
			<h4 class="t-color2 web-n" style="line-height:2.0em">현직 베테랑들의 코칭!<br>실전에 <b>바로 써먹는 노하우!</b>
			<br><br><b>투자의 성공</b>으로<br>한 발짝 앞서 가세요.</h4>
			<h5 class="t-color2">경이로움 리더소개</h5>
			<div id="leader-info" class="row mob-n">
				<div class="col x12 carousel">
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/21"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader1.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/20"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader2.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/17"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader3.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/24"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader4.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/16"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader5.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/23"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader6.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/18"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader7.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/19"><img class="responsive-img" src="/page_imgs/study_img/main-leader/leader8.png"></a>
			  </div>
			</div>  
			<div id="leader-info" class="row web-n">
			   <div class="col x12 carousel">
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/21"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader1.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/20"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader2.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/17"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader3.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/24"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader4.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/16"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader5.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/23"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader6.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/18"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader7.png"></a>
			    <a class="carousel-item" href="http://cidermics.com/studymorenew/19"><img class="responsive-img" src="/page_imgs/study_img/main-leader/m-leader8.png"></a>
			  </div>
			  <a href="/study/list"><span align="center">☞ 스터디 들으러가기</span></a>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="container">
		<div id="section6" align="center">
			<h4><b>경제, 배우려면<br class="web-n"> 너무 비싸요.</b></h4>
			<img class="responsive-img mob-n" src="/page_imgs/study_img/img-section6.jpg">
			<img class="responsive-img web-n" src="/page_imgs/study_img/m-img-section6.jpg">
			<h4 class="text">내용은 <b>더욱 쉽고 재미</b>있게!<br>내용은 <b>알짜배기</b>로 가득하게!<br>리더와의 <b>지속적인 피드백</b>까지!</h4>
		</div>
	</div>
</div>
<!-- div id="section7" align="center" style="margin-bottom:-9px">
	<img class="responsive-img" src="https://i.imgur.com/0nXnpmZ.jpg" style="width:100%">
</div -->
<div class="bg-color1">
	<div class="container">
		<div class="mob-n" id="section8" align="center">
			<h4 class="t-color2"><b>경제, 저는 더 배워보고 싶어요.</b></h4>
			<h5 class="t-color2">더 많이 공부하고 싶은 분들을 위해 무료 제공되는<br>사이다경제만의 <b style="border-bottom:4px solid #0aa0f6">
				특별한 혜택!</b><br><br>사이다경제 <b>릴레이 세미나</b><br>매번 다른 주제로 다양하게 들을수 있어서 좋다!</h5>
		<a href="/study/event"><span align="center">☞ 세미나 들으러가기</span></a>
		</div>
		<div class="web-n" id="section8" align="center">
			<h4 class="t-color2"><b>경제,<br>더 배워보고 싶어요.</b></h4>
			<h5 class="t-color2">더 많이 공부하고 싶은 분들께<br>무료 제공되는 사이다경제만의<br><b style="border-bottom:4px solid #0aa0f6">
				특별한 혜택!</b><br><br>사이다경제 <b>릴레이 세미나!</b><br>매번 다른 주제로 다양하게!</h5>
		<a href="/study/event"><span align="center">☞ 세미나 들으러가기</span></a>
		</div>	
		<div id="section8-1" align="center">
			<div class="row">
				<div class="col m4 s6"><img class="responsive-img" src="/page_imgs/study_img/img-section8-sp1.jpg"></div>
				<div class="col m4 s6"><img class="responsive-img" src="/page_imgs/study_img/img-section8-sp2.jpg"></div>
				<div class="col m4 s6"><img class="responsive-img" src="/page_imgs/study_img/img-section8-sp3.jpg"></div>
				<div class="img-space4 col s6"><img class="responsive-img" src="/page_imgs/study_img/img-section8-sp4.jpg"></div>	
			</div>
			<h5 style="color:#fff">이 <b>모든 혜택</b>을 여러분께 제공합니다!</h5>
		</div>			
	</div>
</div>
<div>
	<div class="container">
		<div id="section9" align="center">
			<h4><b>경이로움 멤버들의<br class="web-n">진솔한 후기 인터뷰</b></h4>
			<div class="row">
				<a href="http://cidermics.com/stdreview/5"><div class="col s12 m6"><img class="responsive-img" src="/page_imgs/study_img/img-section9-thum1.jpg"></div></a>
				<div class="web-n col s12" style="margin-bottom:30px;"></div>
				<a href="http://cidermics.com/stdreview/4"><div class="col s12 m6"><img class="responsive-img" src="/page_imgs/study_img/img-section9-thum2.jpg"></div></a>
			</div>	
			<a href="/study/review"><h5><span>☞ 더 많은 후기 보기</span></h5></a>
		</div>
	</div>
</div>
<div class="bg-color3">
	<div class="container">
		<div id="section10" align="center">
			<div><img class="responsive-img width1" src="/page_imgs/study_img/img-map-icon.jpg"></div>
			<h4>오시는길</h4>
			<div class="row">
				<div class="col m6 s12">
					<img class="responsive-img mob-n margin1" src="/page_imgs/study_img/img-section10-title1.jpg">
					<img class="responsive-img web-n margin1" src="/page_imgs/study_img/m-img-section10-title1.jpg">
					<!-- h5>서울특별시 강남구 테헤란로 33길 39 혜성빌딩</h5 -->
					<div class="googleMap" align="center">
						<div id="map_view" style="height:350px;"></div>
						<div align="right" style="margin:10px 10px 0 0">
						<span>서울특별시 강남구 테헤란로 33길 39 혜성빌딩<br>[지번]서울특별시 강남구 역삼동 671-32</span>
						</div>
					</div>
					<img class="responsive-img padding1" src="/page_imgs/study_img/img-section10-1.jpg">					
				</div>
				<div class="col m6 s12">
					<img class="responsive-img mob-n margin1" src="/page_imgs/study_img/img-section10-title2.jpg">
					<img class="responsive-img web-n margin1 margin2" src="/page_imgs/study_img/m-img-section10-title2.jpg">
					<!-- h5>서울특별시 강남구 영동대로96길 26</h5 -->
					<div class="googleMap" align="center">
						<div id="map_view1" style="height:350px;"></div>
						<div align="right" style="margin:10px 10px 0 0">
						<span>서울특별시 강남구 영동대로96길 26<br>[지번]서울특별시 강남구 삼성동 169-8</span>
						</div>
					</div>
					<img class="responsive-img padding1" src="/page_imgs/study_img/img-section10-2.jpg">					
				</div>
			</div>			
		</div>
	</div>
</div>



<!-- script type="text/javascript">
  $(document).ready(function(){
  $('.carousel').carousel();
  });
</script -->

      <!-- div class="carousel">

        <% for(var i=0; i < 5; i++) {  %>
        <div class="carousel-item">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="<%=stdlist[i].thum%>">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;"><%=stdlist[i].decate%></a></span>
            <span class="carousel-title"><a href="/studymore1/<%=stdlist[i].idx%>" style="color: #fff;"><b><%=stdlist[i].subject%></b></a></span>
            <span class="carousel-name">리더 <%=stdlist[i].leader%></span>
            <span class="carousel-date"><i class="material-icons left">today</i><%=stdlist[i].recentdate%></span>
          </div>
        </div>
        <% } %>

      </div -->

  <!-- div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div -->


  <% include std_bottom %>


<script>
$('.ml14').each(function(){
 $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter-2'>$&</span>"));
});
var ml4 = {};
ml4.opacityIn = [0,1];
ml4.durationIn = 1500;
ml4.durationOut = 600;
ml4.delay = 500;

ml.timelines["ml4"] = anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [-30,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1500,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: function(el, i) {
      return 200 + 30 * i;
    }
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4',
    opacity: 0,
    duration: 300,
    delay: 100
  });
</script>

</body>
</html>
