<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>사이다경제 경이로움 후기</title>
  <!-- 메인 문구 -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'>

  <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
  
  <script src="/js/gotoup.js"></script>
  </head>

  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  <% include std_top %>

  <div class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:20%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로움 후기 인터뷰</h5>
          <h6 class="header col s12 light">한 달에 한 번 나는 경이롭게 달라진다</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background12.jpg" alt="Unsplashed background img 1"></div>
  </div>

<!--맨위 -->
<div id="review-de" class="container">
     <div class="row center">
       <div class="col s12"><img src="<%=stdreview[0].cons_img%>" width="90%"></div>
       <h4 class="header1 header col s12 light" style="font-weight: 500; ">"<%=stdreview[0].cons_title%>"</h4>
     </div>
     <div class="divider"></div>
     <div class="row">
     	<div class="col s12">
       		<%- stdreview[0].cons_content%>
      </div>
      <div class="col s12">

<a href="/study/review"><h5><span>☞ 후기 목록으로 돌아가기</span></h5></a>
      </div>
     </div>
</div>
<div class="section2">
  <div class="container">
    <div class="row">
        <div class="col s12 center">
          <h4>추천 스터디</h4>
        </div>
    </div>
  
    <div class="row">
      <% var a = Math.floor(Math.random() * (4-0+1)) + 0; for(var i=a; i < a+3; i++) {  %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image  waves-effect waves-block waves-light">
            <a href="/studymorenew/<%=stdlist[i].idx%>"><img src="<%=stdlist[i].thum%>"></a>
            <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;"><%=stdlist[i].decate%></a></span>
            <span class="card-title" style="bottom: 30px;"><a href="/studymorenew/<%=stdlist[i].idx%>" style="color: #fff;"><b><%=stdlist[i].subject%></b></a></span>
            <span class="card-name">리더 <%=stdlist[i].leader%></span>
          </div>
        </div>
      </div>
      <% } %>
      <a href="/study/lecture"><h5><span>☞ 강의 목록 보러가기</span></h5></a><div></div>
    </div>
  
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
        <h4 class="header col s12 light"><b>"경이로움"</b></h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/page_imgs/study_img/backgroundm4.jpg" alt="Unsplashed background img 2"></div>
</div>


<% include std_bottom %>



</body>
</html>
