<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 경이로움 후기</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>var ml = { timelines: {}};</script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>



  <script src="/js/gotoup.js"></script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>
  <% include std_top %>


  <div class="parallax-container valign-wrapper" style="min-height: 200px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:5%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로움 후기</h5>
          <h6 class="header col s12 light">경이로움 멤버원들의 진솔한 후기 인터뷰</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm4.jpg" alt="Unsplashed background img 1"></div>
  </div>



  <script type="text/javascript">
    var a = Math.floor(Math.random() * 3) + 1;
  </script>
      
<style>
	.review{margin:100px auto;}
	@media only screen and (max-width : 1024px) {
	.review{margin:30px auto;}
	}
</style>

<div class="container review">
 
  <div class="row">
    <% for(var i=0; i < review.length; i++) {  %> 
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <a href="/stdreview/<%=review[i].cons_no%>"><img src="<%=review[i].cons_img%>"></a>
          <span class="card-title" style="bottom: 30px;"><a href="/stdreview/<%=review[i].cons_no%>" style="color: #fff;"><b><%=review[i].cons_title%></b></a></span>
          <span class="card-name"><%=review[i].cons_name%></span>
          
        </div>
        <div class="card-content">
          <p><a class="waves-effect waves-light btn light-blue darken-2" href="/stdreview/<%=review[i].cons_no%>">후기 내용 보기</a></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>

</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm4.jpg" alt="Unsplashed background img 2"></div>
  </div>



  <% include std_bottom %>

</body>
</html>
