<!--<!DOCTYPE html>-->
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<link href="/css/cid_main2.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){
    window.open("https://www.facebook.com/cidermics");
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

<style>
.menu-wrap::-webkit-scrollbar { 
    display: none; 
}


.grid li {
	display: block;
	float: left;
	padding:10px;
	width: 33.33%;
	opacity: 0;
}

</style>

</head>

<body>
<% include top %>
<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>

<!-- 스터디3기오픈홍보 > 
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/study"><img class="img-responsive" src="/page_imgs/study_img/popup_study3.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<!-- 책홍보 > 
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="http://bit.ly/2QLabs0"><img class="img-responsive" src="https://i.imgur.com/CmvyhXW.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<!-- 책구매인증이벤트 --> 
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/bookslink"><img class="img-responsive" src="https://i.imgur.com/zQmVtFo.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div>

<!-- 책구매인증이벤트당첨자확인 > 
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="https://www.facebook.com/cidermics/photos/a.1044225292297799/1894700213916965/?type=3&theater"><img class="img-responsive" src="https://i.imgur.com/KjeATzT.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<!-- 스터디2기강의홍보 >
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/study/lecture"><img class="img-responsive" src="https://i.imgur.com/EKVkA6T.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<!-- 세미나 팝업 창 >
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/seminar"><img class="img-responsive" src="https://i.imgur.com/FNdPWLN.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
				<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<!-- 재무 팝업 창>
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/finance"><img class="img-responsive" src="https://i.imgur.com/coSx134.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";  
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script>

<script language="Javascript">
var currentSlide;
var rand;
$(document).ready(function() {
  currentSlide = Math.floor((Math.random() * $('.item').length));
  rand = currentSlide;
  $('#carousel-example-generic').carousel(currentSlide);
  $('#carousel-example-generic').fadeIn(2000);
  setInterval(function(){ 
    while(rand == currentSlide){
      rand = Math.floor((Math.random() * $('.item').length));
    }
    currentSlide = rand;
    $('#carousel-example-generic').carousel(rand);
  },6000);
});
</script>
<style>
#myCarousel {
    display:none;   
}
</style>

<!-- 메인이미지 -->
<!--div class="parallax" style="margin-bottom:0;">
	<div class="parallax-in container" align="center">
		<img src="/page_imgs/fixed_img/bg-no-logo.png" style="border-radius:6px;">
		<p>경제의 첫걸음,사이다경제와 함께!</p>
	</div>
</div-->

<!-- >div class="container"> 
	<div id="service-menu" class="row margin-0lr">
		<div class="col-xs-7 padding-5lr">
			<a href="/1">
			<div class="menu-contents margin-0lr row">
				<div class="col-xs-12 line1"></div>
				<div class="col-xs-12 title-e"><p>CONTENTS</p></div>
				<div class="col-xs-12 title-k"><b><span style="border-top:2px solid #1bafba; padding-top:5px;">콘텐츠</span></b></div>
				<div class="col-xs-12 service-img" align="right"><img src="/page_imgs/main_img/service-menu/icon-service-menu1.png"></div>
				<!-- 콘텐츠 HIT >
				<!-- div class="col-xs-12 title-mark"><b><span class="con-hit">HIT</span></b></div>
			</div>	
			</a>
		</div>
		<div class="col-xs-5 padding-5lr">
			<a href="/seminar">
			<div class="menu-school margin-0lr row">
				<div class="col-xs-12 line2"></div>
				<div class="col-xs-12 title-e"><p>SEMINAR</p></div>
				<div class="col-xs-12 title-k"><b><span style="border-top:2px solid #d4434e; padding-top:5px;">세미나</span></b></div>
				<!-- 세미나 OPEN >
				<div class="col-xs-12 title-mark"><b><span class="sch-open">OPEN</span></b></div>
				<div class="col-xs-12 service-img" align="right"><img class="seminar-icon" src="/page_imgs/main_img/service-menu/icon-service-menu2.png"></div>
			</div>	
			</a>	
		</div>
		<div class="col-xs-5 padding-5lr">
			<a href="/study">
			<div class="menu-study margin-0lr row">
				<!--div class="coming" align="center"><p><b>Coming Soon</b></p></div>
				<div class="col-xs-12 line3"></div>
				<div class="col-xs-12 title-e"><p>STUDY</p></div>
				<div class="col-xs-12 title-k"><b><span style="border-top:2px solid #63b72c; padding-top:5px;">스터디</span></b></div>
				<!-- 스터디 EVENT>
				<div class="col-xs-12 title-mark"><b><span class="finb-event">2기오픈</span></b></div>
				<!-- div class="col-xs-12 d-day" align="center"><b>Coming Soon</b></div>
				<div class="col-xs-12 service-img" align="right"><img class="study-icon" src="/page_imgs/main_img/service-menu/icon-service-menu3.png"></div>
			</div>
			</a>
		</div>
		<div class="col-xs-7 padding-5lr">
			<a href="/finance">
			<div class="menu-finance margin-0lr row">
				<div class="col-xs-12 line4"></div>
				<div class="col-xs-12 title-e"><p>FINANCE<br>CONSULTING</B></p></div>
				<div class="col-xs-12 title-k"><b><span style="border-top:2px solid #f0c525; padding-top:5px;">재무상담</span></b></div>
				<!-- 재무 event>
				<div class="col-xs-12 title-mark"><b><span class="fin-event">EVENT</span></b></div>
				<div class="col-xs-12 service-img" align="right"><img class="finance-icon" src="/page_imgs/main_img/service-menu/icon-service-menu4.png" style="margin-top:-20px;"></div>
			</div>
			</a>
		</div>
	</div>

	<!--div id="banner" align="center">
		<a href="/study">
		<img class="finbook-mob img-responsive" src="https://i.imgur.com/TCce0IS.jpg"></a>
	</div>	
	<div class="container">	
		<div id="banner" align="center"><a href="/study"><img class="finbook img-responsive" src="https://i.imgur.com/Gdg7Ihq.jpg"></a></div>
	</div>
	<br-->
	<!-- div class="ad-team-recruiting">
		<a href="/seminar"><img class="img-responsive" src="https://i.imgur.com/GE2d58L.jpg"></a>
	</div-->
	<!-- div class="ad-team-recruiting">
		<a href="/study/lecture"><img class="img-responsive" src=https://i.imgur.com/yUqmD2U.jpg></a>
	</div -->
	<!-- div class="ad-team-recruiting">
	<a href="/study"><img class="img-responsive" src="https://i.imgur.com/Bq4DDRa.jpg"></a>
	</div-->
	
	<!--div class="ad-team-recruiting">
		<a href="/seminar"><img class="img-responsive" src="https://i.imgur.com/I5Si5K9.jpg"></a>
	</div-->
	<!-- div class="ad-team-recruiting">
		<a href="http://bit.ly/2LxC1Fj"><img class="img-responsive" src="https://i.imgur.com/oKbUm4m.png"></a>
	</div-->

	<!-- div id="service-info">
		<div class="row margin-0lr">
			<a href="/1">
				<div class="col-xs-12 title-mark"><b><span class="con-hit">HIT</span></b>
					<span class="info"><b>이 콘텐츠를 읽으면 내 머릿속에서 톡톡!!</b></span>
				</div>
			</a>
			<a href="/lecture">
				<div class="col-xs-12 title-mark"><b><span class="sch-open">OPEN</span></b>
					<span class="info"><b>강의 오픈!! 일단 한번 들어봐~ 혹시 알아??</b></span>
				</div>
			</a>
			<a href="/finbook">
				<div class="col-xs-12 title-mark"><b><span class="finb-event">NEW</span></b>
					<span class="info"><b>사이다경제 X 핀북 OPEN!</b></span>
				</div>
			</a>
			<a href="/finance">
				<div class="col-xs-12 title-mark"><b><span class="fin-event">EVENT</span></b>
					<span class="info"><b>12월! 선착순 50명 무료 재무 상담!</b></span>
				</div>
			</a>
		</div>
	</div>
</div -->


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div class="item active" style="background-color:#e7462a">
      <a href="/bookslink"><img src="https://i.imgur.com/hHR1yJ6.jpg" alt="책홍보"></a>
    </div>
    <div class="item" style="background-color:#a9e000">
      <a href="/study"><img src="https://i.imgur.com/3dvHp6c.jpg" alt="스터디"></a>
    </div>    
    <div class="item" style="background-color:#05334b">
      <a href="/study/lecture"><img src="https://i.imgur.com/NZu7AvO.jpg" alt="강의"></a>
    </div>
    <div class="item" style="background-color:#ffae00">
       <a href="/seminar"><img src="https://i.imgur.com/boEDbi3.jpg" alt="세미나"></a>
    </div>
    <div class="item" style="background-color:#0794be">
       <a href="http://mybobby.co.kr/"><img src="https://i.imgur.com/SV3UVB0.jpg" alt="보비"></a>
    </div>
  </div>
  <!-- Controls >
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a -->
</div>

<div class="bg1">
<div class="container">
	<div class="row" id="service" style="margin-left:0; margin-right:0">
		<div class="col-sm-3 col-xs-6">
			<a href="/1">
			<img class="img-responsive center-block" src="/page_imgs/main_img/main-icon1.jpg">
			<span class="title">콘텐츠</span>
			</a>
		</div>
		<div class="col-sm-3 col-xs-6">
			<a href="/seminar">
			<img class="img-responsive center-block" src="/page_imgs/main_img/main-icon2.jpg">
			<span class="title">세미나</span>
			</a>
		</div>
		<div class="col-sm-3 col-xs-6">
			<a href="/study">
			<img class="img-responsive center-block" src="/page_imgs/main_img/main-icon3.jpg">
			<span class="title">경이로움 스터디</span>
			</a>
		</div>
		<div class="col-sm-3 col-xs-6">
			<a href="/finance">
			<img class="img-responsive center-block" src="/page_imgs/main_img/main-icon4.jpg">
			<span class="title">재무상담</span>
			</a>
		</div>						
	</div>
</div>
</div>


<div class="container">
	<div class="new-contents">
	<!-- 최신 콘텐츠 -->
		<div class="row margin-0lr">
			<div class="col-xs-6 title padding-5lr" style="color:#000;"><span><b>최신콘텐츠</b></span></div>
			<div class="col-xs-6 plus-btn padding-5lr" align="right"><a href="/contents/all"><span><b>+더보기</b></span><!-- img class="img-responsive" src="/page_imgs/fixed_img/btn-plus.png"></a--></div>
			<div class="col-xs-12 title-bar"></div>
		</div>
		<div class="row margin-0lr" align="center">

			<!--강의 오픈 시 -->
			<!-- div class="col-xs-4">
				<div class="thumnail">
				<a href="http://www.cidermics.com/lecture/detail/5">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/rEPB4mp.jpg"></div>
					<div class="con-title">[강의 OPEN] "일은 하는데 왜 항상 돈이 없을까?"</div>
				</a>
				</div>
			</div-->

			<!-- 재무 오픈 시>
			<div class="col-xs-4">
				<div class="thumnail">
				<a href="/finance">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/BsQncvy.jpg"></div>
					<div class="con-title">2018년 10월, 사이다재무상담 오픈!</div>
				</a>
				</div>
			</div -->
			
			<!-- 에디터모집 -->
			<div class="col-xs-4">
				<div class="thumnail">
				<a href="http://cidermics.com/contents/detail/1365">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/22qSeNg.jpg"></div>
					<div class="con-title">[팀원모집] 사이다경제와 함께 할 팀원을 모집합니다.</div>
				</a>
				</div>
			</div>
			
			<!-- 스터디 고정>
			<div class="col-xs-4">
				<div class="thumnail">
				<a href="http://bit.ly/2FTXncR">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/rtgv8Td.jpg"></div>
					<div class="con-title">강남 증권사 직원에게 배우는 주식 과외!</div>
				</a>
				</div>
			</div-->
			
			<!-- 설문조사 시>
			<div class="col-xs-4">
				<div class="thumnail">
					<a href="/survey3">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/HYRaOkF.jpg"></div>
					<div class="con-title"><b>[스터디 OPEN]</b>  '미래준비'가 고민이라면 신청하자!</div>
					</a>
				</div>
			</div -->			
			
			<% for(var i=0; i < contents.length; i++) { %>
			<div class="col-xs-4">
				<div class="thumnail">
					<a href="/contents/detail/<%= contents[i].con_no %>">
					<!--div class="con-img"><img class="img-responsive" src="<%= contents[i].chkDat%>"></div-->
					<div class="con-img"><img class="img-responsive" src="<%= contents[i].con_photo%>"></div>
					<div class="con-title"><%= contents[i].con_title %></div>
					</a>
				</div>	
			</div>
			<% } %>
					
		</div>		
	</div>
</div>	


<!-- 임시 배너 -->
<!--div class="carousel-inner" role="listbox" align="center">	
	<div class="item active">
	      <a href="/finance"><img class="img-responsive" src="/page_imgs/fixed_img/banner/consulting.jpg"></a>
	</div>
</div>
<br-->

<!-- 핀북 배너	
<div id="banner" align="center">
	<a href="/finbook">
	<img class="finbook-mob img-responsive" src="https://i.imgur.com/7yxz2nk.jpg"></a>
</div>	
<div class="container">	
	<div id="banner" align="center"><a href="/finbook"><img class="finbook img-responsive" src="https://i.imgur.com/7yxz2nk.jpg"></a></div>
</div>
<br> -->


<!-- 누보리치 배너>	
<div id="banner" align="center">
	<a href="/lecture/detail/6">
	<img class="finbook-mob img-responsive" src="https://i.imgur.com/xZ4ifPc.jpg"></a>
</div>	
<div class="container">	
	<div id="banner" align="center"><a href="/lecture/detail/6"><img class="finbook img-responsive" src="https://i.imgur.com/xZ4ifPc.jpg"></a></div>
</div>
<br -->

<!-- 스터디 배너
<div id="banner" align="center">
	<a href="/study">
	<img class="finbook-mob img-responsive" src="https://i.imgur.com/TCce0IS.jpg"></a>
</div>	
<div class="container">	
	<div id="banner" align="center"><a href="/study"><img class="finbook img-responsive" src="https://i.imgur.com/Gdg7Ihq.jpg"></a></div>
</div>
<br-->

	<!-- 콘텐츠 뿌림 -->	
<div class="container">
	<div class="con-list" align="center">
		<div class="row margin-0lr" id="con-list">
			<% for(var i=0; i < allcontents.length; i++) { %>
			<div class="col-xs-4">
				<div class="thumnail">
					<a href="/contents/detail/<%= allcontents[i].con_no %>">
					<!-- div class="con-img"><img class="img-responsive" src="<%= allcontents[i].chkDat%>"></div-->
					<div class="con-img"><img class="img-responsive" src="<%= allcontents[i].con_photo%>"></div>
					<div class="con-title"><%= allcontents[i].con_title %></div>
					</a>
				</div>	
			</div>
			<% } %>
		</div>
		<div class="con-plus-btn" align="center" onclick="addMore()"><img class="img-responsive" src="/page_imgs/fixed_img/btn-plus2.png" ></div>
	</div>
</div>

<script>
		var idx = 2;
		function addMore (){
			var contents = '';
			$.ajax({
				url : '/addMore3/'+idx,
				method : 'get',
				success : function(data){
					if (data.contents.length == 0){
						alert('마지막 콘텐츠입니다.');
						return;
					}
					idx ++;
					$.each(data.contents, function (index, value){
						contents += '<div class="col-xs-4"> ' +
							 			'<div class="thumnail"> ' + 
												'<a href="/contents/detail/'+value.con_no+'"> ' +
													'<div class="con-img"> ' +
														'<img class="img-responsive" src="'+value.con_photo+'"/> ' + 
													'</div> ' +
													'<div class="con-title">' + value.con_title +'</div>' +
												'</a> ' +
							 			'</div> '+
							 		'</div> ';
							
					});
					$('#con-list').append(contents);
					
				}
			});
		}
		
	</script>

<% include bottom %>
</body>
</html>
