<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />

<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제</title>
<!--link href="/css/bootstrap.min.css" rel="stylesheet"-->
<link href="/css/cid_main.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--script src="/js/bootstrap.min.js"></script-->

<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>


<script src="/js/gotoup.js"></script>

<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

<script>
var now = new Date(); 
var todayAtMidn = new Date(now.getFullYear(), now.getMonth(), now.getDate(),now.getHours());
 
// Set specificDate to a specified date at midnight.
var specificDate = new Date("2016/8/20/2");
 
// Compare the two dates by comparing the millisecond
// representations.
if (todayAtMidn.getTime() == specificDate.getTime())
{
    location.href="cid_main";
}
</script>


</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include top %>
<div class="contents_detail-mob_menu"><img src="http://i.imgur.com/iW4DMcC.png" height="50"></div>

<div class="row" style="margin:0; padding:0">
<div class="col-xs-12 main-menu">
		<div class="mainlogoimg" align="center"><img width="145" class="img-responsive" src="/page_imgs/fixed_img/logo.svg" style="width:180px;"></div>
		<p>경제의 첫걸음, <span>사이다경제</span>와 함께!</p>
		<div class="container" align="center">
				<div class="menu row">
						<div class="col-sm-3" style="padding-left:100px;"><a href="/contents/1"><img class="img-responsive" src="http://i.imgur.com/dlwHp7g.png"></a>
								<p><a href="/contents/1">경제</a></p>
						</div>
						<div class="col-sm-3" style="padding-left:50px;"><a href="/contents/2"><img class="img-responsive" src="http://i.imgur.com/6VKqOwj.png"></a>
								<p><a href="/contents/2">금융</a></p>
						</div>
						<div class="col-sm-3" style="padding-right:50px;"><a href="/contents/3"><img class="img-responsive" src="http://i.imgur.com/RoBBKee.png"></a>
								<p><a href="/contents/3">기업</a></p>
						</div>
						<div class="col-sm-3" style="padding-right:100px;"><a href="/contents/4"><img class="img-responsive" src="http://i.imgur.com/5QGWW4f.png"></a>
								<p><a href="/contents/4">주식</a></p>
						</div>
				</div>
		</div>
</div>
</div>
<!--배너뿌림-->
<div class="main-banner container">
		<p>사이다 소식</p>
				<!-- Swiper -->
				<div class="swiper-container">
						<div class="swiper-wrapper">
								<div class="swiper-slide"><a href="/finance"><img class="img-responsive" src="http://i.imgur.com/BkeG6zc.jpg"></a></div>
								<div class="swiper-slide">
								<div class="appbanner-bg">
									<div style="opacity:0; width:100%;"><a href="/appdown"><img src="http://i.imgur.com/5mXAWvJ.jpg" alt="" style="width:100%;"></a></div>
									<div class="ul-place">
									<ul>
									<li class="btn-1"><a href="https://play.google.com/store/apps/details?id=com.cidermics.cmics"><img class="img-responsive" src="http://i.imgur.com/fp6odgn.png"></a></li>
									<li class="btn-2"><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1165201857&mt=8"><img class="img-responsive" src="http://i.imgur.com/wR81byA.png"></a></li>
									</ul>
									</div>
									</div>
								</div>
								
								<!--div class="swiper-slide"><a href="#" onClick="javascript:openWinKA();"><img class="img-responsive" src="http://i.imgur.com/HqOgYxY.jpg"></a></div-->
								<!--div class="swiper-slide"><a href="#" onClick="javascript:openWinFB();"><img class="img-responsive" src="http://i.imgur.com/vS27U54.jpg"></a></div-->	
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
				</div>
</div>

<!--div class="appbanner container">
	<a href="https://play.google.com/store/apps/details?id=com.cidermics.cmics">
	<img class="img-responsive" src="/page_imgs/main_img/appbanner.jpg"></a>
</div-->

<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        		//autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
</script>


<!--콘텐츠뿌림-->
<div class="contents container">
		<ul class="grid effect-2" id="grid">
			<% for(var i=0; i<contents.length; i++) { %>
				<li>
				<div>
					<a href="/contents/detail/<%= contents[i].con_no %>">
					<div class="con-img">
					<img class="img-responsive" style="width:50px; position:absolute; z-index:2; margin:5px 0 0 5px;" src="<%= contents[i].chkDat%>">    <!--새로 업데이트된거 표시-->
					<img class="img-responsive con-thumbnail-img" style="position:relative; z-index:1" align="center" src="<%= contents[i].con_photo %>">
					</div>
					</a>
					<p align="center"><a href="/contents/detail/<%= contents[i].con_no %>">
						<%= contents[i].con_title %></a></p>
				</div>
				</li>
			<% } %>
		</ul>
</div>

<div class="icon-plus_con" align="center" onclick="addMore()"><img class="img-responsive" src="/page_imgs/fixed_img/icon_plus_con.svg"></div>

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>

<% include bottom %>

<script>
		var idx = 2;
		function addMore (){
			var contents = '';
			$.ajax({
				url : '/addMore/'+idx,
				method : 'get',
				success : function(data){
					if (data.contents.length == 0){
						alert('마지막 콘텐츠입니다.');
						return;
					}
					idx ++;
					$.each(data.contents, function (index, value){
						contents += '<li> ' +
							 			'<div class="con-border bg-w"> ' + 
												'<a href="/contents/detail/'+value.con_no+'"> ' +
													'<div class="con-img" align="center"> ' +
														'<img src="'+value.con_photo+'"/> ' + 
													'</div> ' +
												'</a> ' +
							 					'<a href="/contents/detail/'+value.con_no+'"> ' +
							 						'<div class="con-title"><span><center>' + value.con_title +'</center></span></div>' +
							 					'</a> '+
							 			'</div> '+
							 		'</li> ';
							
					});
					$('#grid').append(contents);
					new AnimOnScroll( document.getElementById( 'grid' ), {
						minDuration : 0.4,
						maxDuration : 0.7,
						viewportFactor : 0.2
					} );
				}
			});
		}
		
	</script>

</body>
</html>
