<!--<!DOCTYPE html>-->
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<link href="/css/cid_main2.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

<style>
.menu-wrap::-webkit-scrollbar { 
    display: none; 
}
</style>

</head>
<body>
<% include top %>
<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>


<!-- 메인 팝업 창 >
<div id="info-wrap">
		<div id="pop">
			 <div>
  				<a href="/finance/review"><img class="img-responsive" src="http://i.imgur.com/O877ZT5.jpg"></a>
 			 </div>
 			 
			<div class="close1" style="opacity:.98;">
  				<form name="pop_form" id="pdtop">
  					<span class="button-checkbox">
        				<button type="button" class="btn">하루동안 보지 않기</button>
        				<input type="checkbox" name="chkbox" value="checkbox" class="hidden" checked />
    				</span>
    				<span class="button-close">
        				<button type="button" class="btn" onclick="closePop();">닫기</button>
    				</span>
  				</form>
 			</div>
			
		</div>
</div>
 
<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";
   
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script -->

<!-- 메인이미지 -->
<script>
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
<div class="parallax">
	<div class="parallax-in container" align="center">
		<img src="/page_imgs/fixed_img/bg-no-logo.png" style="border-radius:6px;">
		<p>경제의 첫걸음,사이다경제와 함께!</p>
	</div>
</div>

<!-- 슬라이드 배너 -->
<div id="myCarousel" class="container carousel slide" data-ride="carousel">
  <!-- Indicators> 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol -->
  <!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox" align="center">
    <!--div class="item active">
      <a href="/lecture/detail/4"><img class="img-responsive" src="/page_imgs/main_img/bakja3.jpg" onclick="ga('send','event','삼박자투자법','버튼클릭','삼박자메인' );"></a>
    </div-->
    <div class="item active">
      <a href="/finance/review"><img class="img-responsive" src="/page_imgs/fixed_img/banner/consulting.jpg"></a>
    </div>
    <div class="item">
      <a href="/appdown"><img class="img-responsive" src="/page_imgs/fixed_img/banner/appbanner.jpg"></a>
    </div>
  </div>
  <!-- Left and right controls >
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a -->
</div>

<div class="container menu-wrap" align="center">
	<a href="/contents"><h6><b>인기콘텐츠</b></h6></a>
	<a href="/project"><h6><b>기획콘텐츠</b></h6></a>
	<a href="/podcast"><h6><b>팟캐스트</b></h6></a>
	<a href="/finance"><h6><b>사이다재무</b></h6></a>
	<a href="/discuss"><h6><b>사이다토론</b></h6></a>
	<a href="/lecture"><h6><b>사이다강의</b></h6></a>
</div>

<div class="menu6_con container row">
	<div class="new-con col-xs-12">
		<div class="menu-title row" style="padding-top:4px;" >
			<div class="col-xs-8 padding-0">최신 콘텐츠</div>
			<div class="col-xs-4 padding-0" align="right"><a href="/contents/all"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->
		<div class="con-in row" align="center" style="margin-left:0 !important; margin-right:2px !important;">
			<!-- 재무 상담 콘텐츠 목록 맨 앞줄에 넣는 거 재무할때만.>
			<div class="col-xs-4" style="padding-right:0 !important; padding-left:2px !important;">
				<div class="thumnail">
					<a href="/finance/review">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="http://i.imgur.com/O877ZT5.jpg"></div>
					</div>
					<div class="con-title1">2017년 6월, 사이다재무상담 오픈!</div>
					</a>
				</div>
			</div -->

			<!-- 설문조사 -->

			<!--div class="col-xs-4" style="padding-right:0 !important; padding-left:2px !important;">
				<div class="thumnail">
					<a href="/survey">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="http://i.imgur.com/Bb6Sbk8.jpg"></div>
					</div>
					<div class="con-title1">사이다경제 설문조사</div>
					</a>
				</div>
			</div-->

			<% for(var i=0; i < contents.length; i++) { %>
			<div class="col-xs-4" style="padding-right:0 !important; padding-left:2px !important;">
				<div class="new-mark"><img class="img-responsive" src="<%= contents[i].chkDat%>"></div>
				<div class="thumnail">
					<a href="/contents/detail/<%= contents[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= contents[i].con_photo %>"></div>
					</div>
					<div class="con-title1"><%= contents[i].con_title %></div>
					</a>
				</div>
			</div>
			<% } %>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	
	<div class="section-line col-xs-12"></div>
	<div class="popular-con swiper-container col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">인기 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/contents"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
		<% for(var i=0; i < popular.length; i++) { %>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="<%= popular[i].chkDat%>"></div>
				<div class="thumnail">
					<a href="/contents/detail/<%= popular[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= popular[i].con_photo %>"></div>
					</div>
					<div class="con-title"><%= popular[i].con_title %></div>
					</a>
				</div>
			</div>
			<% } %>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	
	
	<!-- 광고 -->
	<div class="ad col-xs-12"></div>
		<a href="/podcast"><img class="ad-img img-responsive" src="/page_imgs/fixed_img/banner/talktalkcider.jpg"></a>
	<div class="ad col-xs-12" style="margin-bottom:10px;"></div>
	
	
	<!--  div class="section-line col-xs-12"></div -->	
	<div class="plan-con swiper-container col-xs-12">
		<div class="menu-title row margin-top10">
			<div class="col-xs-8 padding-0">기획 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/project"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
		<% for(var i=0; i < project.length; i++) { %>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="<%= project[i].chkDat%>"></div>
				<div class="thumnail">
					<a href="/contents/detail/<%= project[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= project[i].con_photo %>"></div>
					</div>
					<div class="con-title"><%= project[i].con_title %></div>
					</a>
				</div>
			</div>
		<% } %>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>	
		<!-- 재무리얼후기 모바일 -->
	<div class="section-line col-xs-12"></div>		
	<div class="col-xs-12">
		<div class="review-con row">
			<div class="menu-title row" >
				<div class="col-xs-8 padding-0">사이다재무 - 생생 후기</div><div class="col-xs-4 padding-0" align="right"><a href="/finance/review"><p class="plus">더보기 </p></a></div>
			</div>
			<!-- 콘텐츠 뿌림 시작 -->		
			<div id="text-carousel2" class="carousel slide" data-ride="carousel">
		    <!-- Wrapper for slides -->
		    <div class="con-in row" align="center" style="margin-left:0; margin-right:0;">
		    	<div class="col-xs-12 border-box">
			        <ol class="carousel-indicators">
			          <li data-target="#text-carousel2" data-slide-to="0" class="active"></li>
			          <li data-target="#text-carousel2" data-slide-to="1"></li>
			          <li data-target="#text-carousel2" data-slide-to="2"></li>
			        </ol>		    	
		            <div class="carousel-inner" role="listbox">
		                <div class="item active">
		                	<a href="/finance/review/">
						   <p><B>후기 " <%= rev[0].rev_QA1 %> "</B></p>
								    <p><%= rev[0].rev_title %></p>
							</a>
				        </div>
				        <% for(var i=1; i < rev.length; i++) { %>
				         <div class="item">
				         	<a href="/finance/review/">
						    <p><B>후기 " <%= rev[i].rev_QA1 %> "</B></p>
							<p><%= rev[i].rev_title %></p>
							</a>
		                </div>
		            	<% } %>
		            </div>
			    </div>
		    </div>
		    <!-- Controls --> 
		    <a class="left carousel-control" href="#text-carousel2" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   				<span class="sr-only">Previous</span>
		  	</a>
			<a class="right carousel-control" href="#text-carousel2" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   				<span class="sr-only">Next</span>
		    </a>
			<!-- 콘텐츠 뿌림 끝 -->	
			</div>
		</div>
	</div>
	
	<!--데마시안 광고 -->
	<div class="ad col-xs-12"></div>
		<a href="http://shop.demasian.com"><img class="ad-img img-responsive" src="http://i.imgur.com/kBwbdSw.jpg"></a>
	<div class="ad col-xs-12" style="margin-bottom:10px;"></div>
	

		<!-- books 모바일  -->
	<!--  div class="section-line col-xs-12"></div -->	
	<div class="books-con swiper-container col-xs-12">
		<div class="menu-title row margin-top10">
			<div class="col-xs-8 padding-0">사이다Books</div><div class="col-xs-4 padding-0" align="right"><a href="/books"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
		<% for(var i=0; i < books.length; i++) { %>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="<%= books[i].chkDat%>"></div>
				<div class="thumnail">
					<a href="/contents/detail/<%= books[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= books[i].con_photo %>"></div>
					</div>
					<div class="con-title"><%= books[i].con_title %></div>
					</a>
				</div>
			</div>
		<% } %>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>	

	
	
	<div class="section-line col-xs-12"></div>	
	<div class="podcast-con swiper-container col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">팟캐스트</div><div class="col-xs-4 padding-0" align="right"><a href="/podcast"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
			<% for(var i=0; i < podcast.length; i++) { %>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="<%= podcast[i].chkDat%>"></div>
				<div class="thumnail">
					<a href="/contents/detail/<%= podcast[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= podcast[i].con_photo %>"></div>
					</div>
					<div class="con-title"><%= podcast[i].con_title %></div>
					</a>
				</div>
			</div>
		<% } %>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	
	<!-- 광고 -->
	<div class="ad col-xs-12"></div>
		<a href="https://pf.kakao.com/_mpxdIu"><img class="ad-img img-responsive" src="/page_imgs/fixed_img/banner/kakaoplus.jpg"></a>
	<div class="ad col-xs-12" style="margin-bottom:10px;"></div>
	
	<!-- div class="section-line col-xs-12"></div>	
	<div class="discuss-con col-xs-12">
		<div class="menu-title row margin-top10">
			<div class="col-xs-8 padding-0">사이다토론</div><div class="col-xs-4 padding-0" align="right"><a href="/discuss"><p class="plus">더보기 </p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 >		
		<div class="con-in row" align="center" style="margin-left:0; margin-right:0">
		<% for(var i=0; i < discuss.length; i++) { %>
			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/discuss/detail/<%= discuss[i].dis_no%>"><div class="dis-title col-xs-12"><p>"<%= discuss[i].dis_title%>"</p></div></a>
					<div class="dis-img col-xs-12" align="right">
						<div class="dis-icon row">
							<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" >
						</div>	
					</div>
					<div class="dis-bg-img col-xs-12"><a href="/discuss/detail/<%= discuss[i].dis_no%>"><div class="dis-black-box"></div><img class="img-responsive" src="<%= discuss[i].dis_thum%>"></a></div>	
				</div>
			</div>
			<% } %>				
		</div>
		<!-- 콘텐츠 뿌림 끝 >
	</div -->

	<!-- div class="section-line col-xs-12"></div-->
		
	<div class="col-xs-12" align="center">
		<!-- 경제 금융 기업 주식 카테고리별 콘텐츠 나오는것 -->
		<div class="main-con row" align="center">	
			<div class="menu-title">	
			<ul class="nav nav-tabs row" style="margin-right:0; margin-left:0;">
		    	<li class="active col-xs-3"><a data-toggle="tab" href="#home_1" style="padding:10px 1px;"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu1.png">경제</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_1" style="padding:10px 1px;"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu2.png">금융</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_2" style="padding:10px 1px;"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu3.png">기업</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_3" style="padding:10px 1px;"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu4.png">주식</a></li>
		  	</ul>
			</div>
		 </div>
		 <div class="tab-content">
		 	<div id="home_1" class="con-in row tab-pane fade in active">
				<% for(var i=0; i < economics.length; i++) { %>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="<%= economics[i].chkDat%>"></div>
					<div class="thumnail">
						<a href="/contents/detail/<%= economics[i].con_no %>">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="<%= economics[i].con_photo %>"></div>
						</div>
						<div class="con-title"><%= economics[i].con_title %></div>
						</a>
					</div>			
				</div>
				<% } %>
				<div class="col-xs-12 btn-plus">
					<div id="moreContents" style="width:100%; text-align:center;"><a href="/contents/1">더보기</a></div>		
				</div>
		    </div>
		    <div id="menu_1" class="con-in row tab-pane fade">
				<% for(var i=0; i < finance.length; i++) { %>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="<%= finance[i].chkDat%>"></div>
					<div class="thumnail">
						<a href="/contents/detail/<%= finance[i].con_no %>">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="<%= finance[i].con_photo %>"></div>
						</div>
						<div class="con-title"><%= finance[i].con_title %></div>
						</a>
					</div>			
				</div>
				<% } %>
				<div class="col-xs-12 btn-plus">
					<div id="moreContents" style="width:100%; text-align:center;"><a href="/contents/2">더보기</a></div>		
				</div>
		    </div>
		    <div id="menu_2" class="con-in row tab-pane fade">
				<% for(var i=0; i < company.length; i++) { %>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="<%= company[i].chkDat%>"></div>
					<div class="thumnail">
						<a href="/contents/detail/<%= company[i].con_no %>">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="<%= company[i].con_photo %>"></div>
						</div>
						<div class="con-title"><%= company[i].con_title %></div>
						</a>
					</div>			
				</div>
				<% } %>
				<div class="col-xs-12 btn-plus">
					<div id="moreContents" style="width:100%; text-align:center;"><a href="/contents/3">더보기</a></div>		
				</div>
		    </div>
		  	<div id="menu_3" class="con-in row tab-pane fade">
				<% for(var i=0; i < stock.length; i++) { %>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="<%= stock[i].chkDat%>"></div>
					<div class="thumnail">
						<a href="/contents/detail/<%= stock[i].con_no %>">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="<%= stock[i].con_photo %>"></div>
						</div>
						<div class="con-title"><%= stock[i].con_title %></div>
						</a>
					</div>
				</div>
				<% } %>
				<div class="col-xs-12 btn-plus">
					<div id="moreContents" style="width:100%; text-align:center;"><a href="/contents/4">더보기</a></div>		
				</div>
		    </div>
		</div>
	</div>

	<!-- 강의 모바일>
	<div class="section-line col-xs-12"></div>	
	
	<div class="discuss-con col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">사이다강의</div><div class="col-xs-4 padding-0" align="right"><a href="/lecture"><p class="plus">더보기 </p></a></div>
		</div>
		<div class="con-in row" align="center" style="margin-left:0; margin-right:0">
		

			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/lecture/detail/4">
						<div class="dis-title1 col-xs-12"><p>"삼박자 투자법"</p></div>
					</a>
					<div class="dis-bg-img col-xs-12">
					<a href="/lecture/detail/4"><div class="dis-black-box"></div>
					<img class="img-responsive" width="100%" src="/page_imgs/main_img/bakja3_2.jpg"></a>
					</div>	
				</div>
			</div>
		</div>
	</div-->


</div>	
	<script src="/js/swiper.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3.1,
        paginationClickable: true,
        spaceBetween: 2,
        freeMode: true
    });
    </script>
	


<% include bottom %>


</body>
</html>
