<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0" />
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}" /><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image" content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title" content="사이다경제" />
<meta property="og:site_name" content="사이다경제"/ >
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<!--Import exentriq-bootstrap-material-ui.min.css-->
<link type="text/css" rel="stylesheet"
	href="/css/exentriq-bootstrap-material-ui.min.css"
	media="screen,projection" />

<link href="/css/cid_main2.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="shortcut icon"
	href="http://cidermics.com/page_imgs/fixed_img/favicon.ico" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){
    window.open("https://www.facebook.com/cidermics");
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>
<script type="text/javascript">
$('.carousel').carousel({
	interval: 5000;
})	
</script>


<style>
.menu-wrap::-webkit-scrollbar {
	display: none;
}

.grid li {
	display: block;
	float: left;
	padding: 10px;
	width: 33.33%;
	opacity: 0;
}

#myCarousel {
	display: none;
}

.padding-lr0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.margin-lr0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/*#pick-contents {
	margin-top: 70px
}*/

#pick-contents .thum1 {
	background-image: url("<%= maincon[0].img1%>");
	background-color: #cccccc;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#pick-contents .thum2 {
	background-image: url("<%= maincon[0].img2%>");
	background-color: #cccccc;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#pick-contents .text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#pick-contents .thum1 .text .category {
	font-size: 12px;
	background-color:#1b87c9;
	border: 2px solid #1b87c9;
	border-radius:2px;
	padding: 5px 10px;
}

#pick-contents .thum2 .text .category {
	font-size: 12px;
	background-color:#ffa903;
	border: 2px solid #ffa903;
	border-radius:2px;
	padding: 5px 10px;
}

#pick-contents .text .title {
	font-size: 32px;
	margin-top: 15px;
	line-height: 1.4em;
	font-weight:600
}

#pick-contents .black-box {
	width: 100%;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.4);
}

#carousel-example-generic{margin-top: 50px !important}
.carousel-indicators li{width:6px !important; height:6px !important;}
.carousel-indicators .active{width:8px !important; height:8px !important;}
/*.ad .carousel-inner .item{padding-bottom:20px;}*/
@media only screen and (max-width : 1024px) {
#carousel-example-generic{margin-top: 25px !important}
/*.ad .carousel-inner .item{padding-bottom:15px;}*/

/*#pick-contents {
	margin-top: 45px;
}*/
#pick-contents .thum1 {
	height: 200px;
}
#pick-contents .thum2 {
	height: 200px;
}
#pick-contents .thum1 .text .category {
	font-size: 10px;
	padding: 2px 6px;
}

#pick-contents .thum2 .text .category {
	font-size: 10px;
	padding: 2px 6px;
}
#pick-contents .text .title {
	font-size: 26px;
	margin-top: 10px;
	line-height: 1.3em;
	width:250px;
}
#pick-contents .black-box {
	height: 200px;
}
}
.btn-floating:hover {
	color : #e4dddd;
	text-decoration:none !important
}
/*fab*/
.fab {
    z-index: 999;
    background: #2196F3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 85px;
    right: 27px;
    font-size: 3.2rem;
    display: inline-block;
    cursor: pointer;
}
.fab span {
    vertical-align: middle;
}
.fab span a {
    line-height: 50px;
    color: #fff;
}
.fab span a:hover{
    color: #e4dddd;
    text-decoration: none !important;
}
.fab.child {
    z-index: 999;
    right: 28px;
    width: 50px;
    height: 50px;
    display: none;
    opacity: 0;
    font-size: 14px;
}
.backdrop {
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
    /*fab end*/
</style>

</head>

<body>	
	<% include top %>
	<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>
    <!--fab-->
    <div class="backdrop" id="backdrop"></div>
    <div class="fab child" data-subitem="1"><span><a class="" href="/seminar" onclick="ga('send','event','세미나','버튼클릭','detail페이지' );">세미나</a></span></div>
    <div class="fab child" data-subitem="2"><span><a class="" href="/study" onclick="ga('send','event','강의','버튼클릭','detail페이지' );">강의</a></span></div>
    <div class="fab child" data-subitem="3"><span><a class="" href="https://finance.cidermics.com/finance" onclick="ga('send','event','컨설팅','버튼클릭','detail페이지' );">컨설팅</a></span></div>
    <div class="fab child" data-subitem="4" style="background: #fff; padding:2px"><a href="http://bit.ly/2JK1TQI"  onclick="ga('send','event','CGV','CGV버튼클릭','CGV페이지' );"><img class="img-responsive" src="/page_imgs/main_img/cgvlogo.svg" style="height: 46px"></a></div>

    <div class="fab" id="masterfab"><span id="clickfab" onclick='var pcode="<i class=material-icons>add</i>"; var mcode="<i class=material-icons>close</i>"; if(backdrop.style.display=="none"){clickfab.innerHTML = mcode;}else{clickfab.innerHTML = pcode; }'><i class='material-icons'>add</i></span></div>
<script>
    $(function(){
        $(".backdrop").fadeIn(125);
        $(".fab.child").each(function(){
            $(this)
                .stop()
                .show()
                .animate({
                    bottom	: (parseInt($("#masterfab").css("bottom")) + parseInt($("#masterfab").outerHeight()) + 60 * $(this).data("subitem") - $(".fab.child").outerHeight()) + "px",
                    opacity	: 1
                },125);
        });
        $(".fab,.backdrop").click(function(){
            if($(".backdrop").is(":visible")){
                $(".backdrop").fadeOut(125);
                $(".fab.child")
                    .stop()
                    .animate({
                        bottom	: $("#masterfab").css("bottom"),
                        opacity	: 0
                    },125,function(){
                        $(this).hide();
                    });
            }else{
                $(".backdrop").fadeIn(125);
                $(".fab.child").each(function(){
                    $(this)
                        .stop()
                        .show()
                        .animate({
                            bottom	: (parseInt($("#masterfab").css("bottom")) + parseInt($("#masterfab").outerHeight()) + 60 * $(this).data("subitem") - $(".fab.child").outerHeight()) + "px",
                            opacity	: 1
                        },125);
                });
            }
        });
    });

</script>

	<!-- cgv 팝업 창>
	<div id="info-wrap">
		<div id="pop">
			<div>
				<a href="http://m.cgv.co.kr/WebApp/EventNotiV4/Event/EventZone.aspx?idx=2502"><img class="img-responsive"
					src="https://i.imgur.com/gwuCwMK.jpg"></a>
			</div>
			<div class="close1" style="opacity: .98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
						<button type="button" class="btn">하루동안 보지 않기</button> <input
						type="checkbox" name="chkbox" value="/" class="hidden" checked />
					</span> <span class="button-close">
						<button type="button" class="btn" onclick="closePop();">닫기</button>
					</span>
				</form>
			</div>
		</div>
	</div-->

	<!-- 강의 홍보 팝업 창>
	<div id="info-wrap">
		<div id="pop">
			<div>
				<a href="http://bit.ly/2N5XaYt"><img
					class="img-responsive" src="https://i.imgur.com/7u287VR.jpg"></a>
			</div>
			<div class="close1" style="opacity: .98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
						<button type="button" class="btn">하루동안 보지 않기</button> <input
						type="checkbox" name="chkbox" value="/" class="hidden" checked />
					</span> <span class="button-close">
						<button type="button" class="btn" onclick="closePop();">닫기</button>
					</span>
				</form>
			</div>
		</div>
	</div-->

	<!--세미나 팝업 창-->
	<div id="info-wrap">
		<div id="pop">
			<div>
				<a href="http://cidermics.com/seminar/detail/91"><img class="img-responsive"
					src="https://i.imgur.com/Tnw8uM1.jpg"></a>
			</div>
			<div class="close1" style="opacity: .98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
						<button type="button" class="btn">하루동안 보지 않기</button> <input
						type="checkbox" name="chkbox" value="/" class="hidden" checked />
					</span> <span class="button-close">
						<button type="button" class="btn" onclick="closePop();">닫기</button>
					</span>
				</form>
			</div>
		</div>
	</div>

<!-- 재무 팝업 창>
<div id="info-wrap">
	<div id="pop">
		 <div>
			<a href="/finance"><img class="img-responsive" src="https://i.imgur.com/vuMnAdS.jpg"></a>
			 </div>
		<div class="close1" style="opacity:.98;">
				<form name="pop_form" id="pdtop">
					<span class="button-checkbox">
    				<button type="button" class="btn">하루동안 보지 않기</button>
    				<input type="checkbox" name="chkbox" value="/" class="hidden" checked />
				</span>
				<span class="button-close">
    				<button type="button" class="btn" onclick="closePop();">닫기</button>
				</span>
				</form>
			</div>
	</div>
</div -->

<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";  
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }  
</script>

<!-- 메인페이지 배너 홍보-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<!--cgv-->
    <div class="item active" style="background-image: linear-gradient(#545250 , #43403b);">
      <a href="http://bit.ly/2JK1TQI"><img class="img-responsive" src="https://i.imgur.com/fsM5NX1.jpg"></a>
    </div>
    <!--모바일한경-->
    <div class="item" style="background-image: linear-gradient(#47b5a2 , #2db7d2);">
      <a href="http://bit.ly/2wuockI"><img class="img-responsive" src="https://i.imgur.com/qJilbJL.jpg"></a>
    </div>
    <!--유비카페-->
    <div class="item" style="background-image: linear-gradient(#83bae4 , #6dafed);">
      <a href="http://bit.ly/2D4YUxe"><img class="img-responsive" src="https://i.imgur.com/aGX96O6.jpg"></a>
    </div>
  </div>

  <!-- Controls >
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a -->
</div>

	<!-- 픽한 콘텐츠 -->
	<div id="pick-contents" class="container">
		<div class="row margin-lr0">
		 <a href="<%= maincon[0].url1 %>">
			<div class="thum1 col-lg-6 col-xs-12 padding-lr0">
				<div class="black-box">
					<div class="text">
						<span class="category" align="center"><%= maincon[0].cate1
							%></span>
						<p class="title" align="center"><%= maincon[0].title1 %></p>
					</div>
				</div>
			</div>
		 </a>
		 <a href="<%= maincon[0].url2 %>">
			<div class="thum2 col-lg-6 col-xs-12 padding-lr0">

				<div class="black-box">
					<div class="text">
						<span class="category" align="center"><%= maincon[0].cate2
							%></span>
						<p class="title" align="center"><%= maincon[0].title2 %></p>
					</div>
				</div>
			</div>
		 </a>
		</div>
	</div>


	<div class="container">
		<div class="new-contents">
			<!-- 최신 콘텐츠 -->
			<div class="row margin-0lr">
				<div class="col-xs-6 title padding-5lr" style="color: #000;">
					<span><b>최신콘텐츠</b></span>
				</div>
				<div class="col-xs-6 plus-btn padding-5lr" align="right">
					<a href="/contents/all"><span><b>+더보기</b></span>
					<!-- img class="img-responsive" src="/page_imgs/fixed_img/btn-plus.png"></a-->
				</div>
				<div class="col-xs-12 title-bar"></div>
			</div>
			<div class="row margin-0lr" align="center">

				<!--강의 오픈 시 -->
				<!-- div class="col-xs-4">
				<div class="thumnail">
				<a href="http://www.cidermics.com/lecture/detail/5">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/rEPB4mp.jpg"></div>
					<div class="con-title">[강의 OPEN] "일은 하는데 왜 항상 돈이 없을까?"</div>
				</a>
				</div>
			</div-->

				<!-- 재무 오픈 시 -->
				<div class="col-xs-4">
					<div class="thumnail">
						<a href="https://finance.cidermics.com/finance">
							<div class="con-img">
								<img class="img-responsive" src=https://i.imgur.com/MZ4CvR9.jpg>
							</div>
							<div class="con-title">매주 선착순 100명 경이로움 컨설팅 모집!</div>
						</a>
					</div>
				</div>

				<!-- 에디터모집>
			<div class="col-xs-4">
				<div class="thumnail">
				<a href="http://cidermics.com/contents/detail/1365">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/uAZ96Tw.jpg"></div>
					<div class="con-title">[팀원모집] 사이다경제와 함께 할 팀원을 모집합니다.</div>
				</a>
				</div>
			</div -->

				<!-- 스터디 고정>
			<div class="col-xs-4">
				<div class="thumnail">
				<a href="http://bit.ly/2FTXncR">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/rtgv8Td.jpg"></div>
					<div class="con-title">강남 증권사 직원에게 배우는 주식 과외!</div>
				</a>
				</div>
			</div-->

				<!-- 설문조사 시>
			<div class="col-xs-4">
				<div class="thumnail">
					<a href="/survey3">
					<div class="con-img"><img class="img-responsive" src="https://i.imgur.com/HYRaOkF.jpg"></div>
					<div class="con-title"><b>[스터디 OPEN]</b>  '미래준비'가 고민이라면 신청하자!</div>
					</a>
				</div>
			</div -->

				<% for(var i=0; i < contents.length; i++) { %>
				<div class="col-xs-4">
					<div class="thumnail">
						<a href="/contents/detail/<%= contents[i].con_no %>"> <!--div class="con-img"><img class="img-responsive" src="<%= contents[i].chkDat%>"></div-->
							<div class="con-img">
								<img class="img-responsive" src="<%= contents[i].con_photo%>">
							</div>
							<div class="con-title"><%= contents[i].con_title %></div>
						</a>
					</div>
				</div>
				<% } %>

			</div>
		</div>
	</div>

	<!-- 콘텐츠 뿌림 -->
	<div class="container">
		<div class="con-list" align="center">
			<div class="row margin-0lr" id="con-list">
				<% for(var i=0; i < allcontents.length; i++) { %>
				<div class="col-xs-4">
					<div class="thumnail">
						<a href="/contents/detail/<%= allcontents[i].con_no %>"> <!-- div class="con-img"><img class="img-responsive" src="<%= allcontents[i].chkDat%>"></div-->
							<div class="con-img">
								<img class="img-responsive" src="<%= allcontents[i].con_photo%>">
							</div>
							<div class="con-title"><%= allcontents[i].con_title %></div>
						</a>
					</div>
				</div>
				<% } %>
			</div>
			<div class="con-plus-btn" align="center" onclick="addMore()">
				<img class="img-responsive" src="/page_imgs/fixed_img/btn-plus2.png">
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/exentriq-bootstrap-material-ui.js"></script>

	<script type="text/javascript">
				
		var idx = 2;
		function addMore (){
			var contents = '';
			$.ajax({
				url : '/addMore3/'+idx,
				method : 'get',
				success : function(data){
					if (data.contents.length == 0){
						alert('마지막 콘텐츠입니다.');
						return;
					}
					idx ++;
					$.each(data.contents, function (index, value){
						contents += '<div class="col-xs-4"> ' +
							 			'<div class="thumnail"> ' + 
												'<a href="/contents/detail/'+value.con_no+'"> ' +
													'<div class="con-img"> ' +
														'<img class="img-responsive" src="'+value.con_photo+'"/> ' + 
													'</div> ' +
													'<div class="con-title">' + value.con_title +'</div>' +
												'</a> ' +
							 			'</div> '+
							 		'</div> ';
							
					});
					$('#con-list').append(contents);
					
				}
			});
		}
		
	</script>

	<% include bottom %>
</body>
</html>
