<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제 | 세미나</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_seminar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 세미나" />
<meta property="og:image" content="" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.cidermics.com/lecture/" />
<meta property="og:description" content="사이다경제 세미나" />

</head>

<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<div class="banner" align="center">
	<div class="title">
		<h3>사이다경제 세미나</h3>
		<p>세미나를 통한 당신의 새로워짐을 경험해보세요!</p>
	</div>
</div>



<!-- 세미나 리스트 뿌림 -->
<div class="seminar-list container"  align="center">

	<div class="row">
		<div class="col-xs-12" align="right" id="btn-request">
			<span data-toggle="modal" data-target="#myModal" class="btn-request"><img src="/page_imgs/discuss_img/discuss-icon-pencil.svg"><span>문의하기</span></span>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document" style="width:320px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h5 class="modal-title" id="myModalLabel" style="font-weight:bold;">세미나 문의</h5>
	      </div>
	      <form id='formMeg'>
	      <div class="modal-body" align="left">
		       <select class="form-control3" name="stda_cate">
					<option value="">세미나 문의 카테고리</option>
	                <option value="1">세미나</option>
		            <option value="2">신청/환불</option>
		            <option value="3">이벤트</option>
		            <option value="3">기타</option>
				</select>
	          <div class="form-group">
	            <label for="writer-name" class="control-label">작성자</label>
	            <input type="text" class="form-control3" id="writer-name" name="stda_name">
	          </div>
	          <div class="form-group">
	            <label for="writer-name" class="control-label">답변 받을 연락처 또는 이메일주소</label>
	            <input type="text" class="form-control3" id="writer-name" name="stda_email">
	          </div>
	          <div class="form-group">
	            <label for="title" class="control-label">제목</label>
	            <input type="text" class="form-control3" id="title" name="stda_title">
	          </div>
	          <div class="form-group">
	            <label for="messageText" class="control-label">문의 내용</label>
	            <textarea class="form-control4" id="messageText" name="stda_textarea" style="resize:none;"></textarea>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn1 btn-default" data-dismiss="modal">닫기</button>
	        <button type="submit" class="btn1 btn-primary">보내기</button>
	      </div>
	      </form>

	      <div class="col s12 center" style="padding: 11px;">
		      <h6>궁금하신 사항을 이메일, 카톡 플러스 친구, 신청폼으로 문의주시면, 24시간 이내 이메일을 통해 답변을 보내드립니다!(주말,공휴일 48시간이내)</h6>
	          <p class="center-align light"><h6>Contact Email : contact@cidermics.com</h6></p>
	          <h6>빠른 답변 : 카카오 플러스친구<a href="https://pf.kakao.com/_mpxdIu">(@사이다경제)<i class="material-icons">forum</i></a></h6>
	          <p><h6>Call : 02-2088-5754</h6></p>
	          <p><h6>통화 문의 가능 시간 월~금 (11:00~19:00)</h6></p>
      	  </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript">
	//AJAX로 서브밋한 후에 메세지 넘기기 
	  $(function () {

	   $('#formMeg').on('submit', function (e) {

	   	e.preventDefault();

		$.ajax({
	 	url: 'seminar/ask',
	 	type: "POST",
		//data: JSON.stringify(data),
		data: $('#formMeg').serialize(),
		success: function(response){
	  	alert('문의가 완료되었습니다. 소중한 의견 감사합니다.');
	  	window.location.href="/seminar";
	 	}
		});
	   });
	  });
	</script>


	<div class="row margin10">
		<% for(var i=0; i < semi.length; i++) {  %> 	
		<a href="/seminar/detail/<%=semi[i].idx%>">
		<div class="col-lg-6 col-xs-12 thumnail">
			<div class="img">
				<img class="img-responsive" src="<%=semi[i].thum%>">
			</div>
			<div class="black-box">
				<div class="applying" align="left"><% if(semi[i].state == 0){%><span class="on">신청중</span><%}else{%><span class="off">신청마감</span><% } %></div>
				<div class="title" align="left"><p><b><%=semi[i].subject%></b></p></div>
				<div class="date-price" align="right"><span class="date-price-in"><span><%=semi[i].sdate%></span> | <span>\<%=semi[i].price%></span></span></div>
			</div>
		</div>
		</a>
		<% } %>
	</div>
</div>







		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>

<% include ../bottom %>

</body>
</html>
