<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제 | 세미나</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_seminar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 세미나" />
<meta property="og:image" content="" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.cidermics.com/lecture/" />
<meta property="og:description" content="사이다경제 세미나" />

</head>

<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<div class="banner" align="center">
	<div class="title">
		<h3>사이다경제 세미나</h3>
		<p>세미나를 통한 당신의 새로워짐을 경험해보세요!</p>
	</div>
</div>

<!-- 세미나 리스트 뿌림 -->
<div class="seminar-list container">
	<div class="row margin10">
		<% for(var i=0; i < semi.length; i++) {  %> 	
		<a href="/seminar/detail/<%=semi[i].idx%>">
		<div class="col-lg-6 col-xs-12 thumnail">
			<div class="img">
				<img class="img-responsive" src="<%=semi[i].thum%>">
			</div>
			<div class="black-box">
					<div class="applying"><% if(semi[i].state == 0){%><span class="on">신청중</span><%}else{%><span class="off">신청마감</span><% } %></div>
					<div class="title"><p><b><%=semi[i].subject%></b></p></div>
					<div class="date-price" align="right"><span class="date-price-in"><span><%=semi[i].sdate%></span> | <span>\<%=semi[i].price%></span></span></div>
			</div>
		</div>
		</a>
		<% } %>

		<a href="/seminar/detail">
		<div class="col-lg-6 col-xs-12 thumnail">
			<div class="img">
				<img class="img-responsive" src="https://i.imgur.com/J6hmYIX.jpg">
			</div>
			<div class="black-box">
					<div class="applying"><span class="off">신청마감</span></div>
					<div class="title"><p><b>암호화폐 '비트코인'</b></p></div>
					<div class="date-price" align="right"><span class="date-price-in"><span>3월 1일(목)</span> | <span>\30,000</span></span></div>
			</div>
		</div>
		</a>	
	</div>
</div>







		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>

<% include ../bottom %>

</body>
</html>
