<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--공유 meta tags 특히 페이스북 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="http://cidermics.com<%=semi[0].img2%>" />
<meta property="og:url"  content="http://cidermics.com/seminar/detail/<%=semi[0].idx%>" />
<meta property="og:description" content="<%= semi[0].subject %>" />

<title>사이다경제 | 세미나</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_seminar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>




<script language="javascript" type="text/javascript">  
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApL28eYOAjGJwdSdWc90TGTQtQ0PZuov4" type="text/javascript"></script>
   <script>
      function initialize() {
   
         /*
            http://openapi.map.naver.com/api/geocode.php?key=f32441ebcd3cc9de474f8081df1e54e3&encoding=euc-kr&coord=LatLng&query=서울특별시 강남구 강남대로 456
                위의 링크에서 뒤에 주소를 적으면 x,y 값을 구할수 있습니다.
         */
         var Y_point         = <%= semi[0].mapX %>;      // Y 좌표
         var X_point         = <%= semi[0].mapY %>;      // X 좌표

         var zoomLevel      = 16;                  // 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼

         var markerTitle      = "<%= semi[0].subject %>";            // 현재 위치 마커에 마우스를 오버을때 나타나는 정보
         var markerMaxWidth   = 300;                  // 마커를 클릭했을때 나타나는 말풍선의 최대 크기


         var myLatlng = new google.maps.LatLng(Y_point, X_point);
         var mapOptions = {
                        zoom: zoomLevel,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
         }
         var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

         var marker = new google.maps.Marker({
                                       position: myLatlng,
                                       map: map,
                                       title: markerTitle
         });

         google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
         });
         
      }
   </script>

<!-- 숫자 콤마 -->
   <script type="text/javascript">
	function commaNum(num) {
	    var len, point, str;
	    num = num + "";
	    point = num.length % 3  
	    len = num.length;  
	 
	    str = num.substring(0, point);  
	    while (point < len) {  
	        if (str != "") str += ",";  
	        str += num.substring(point, point + 3);  
	        point += 3;  
	    }  
	    return str;  
	}


	$(document).ready(function(){    
	    for (i=0; i<$(".amount").length; i++){
	        $(".amount").eq(i).text(commaNum($(".amount").eq(i).html()));   
	    }
	});

</script>

</head>
<body onload="initialize()">
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>

<% include ../top %>

<div class="line"></div>


<div class="contents-img container" align="center">
	<img class="img-responsive" src="<%= semi[0].img1 %>">
	<img class="img-responsive" src="<%= semi[0].img2 %>">
</div>



<div class="container" align="center">
	<div class="row seminar-info">

		<div class="col-lg-3 col-xs-4" align="left"><p><b>강사</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].leader %></p></div>


		<div class="col-lg-3 col-xs-4" align="left"><p><b>일시</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].sdate %></p></div>

		<div class="col-lg-3 col-xs-4" align="left"><p><b>강의 시간</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].stime %></p></div>
		
		<div class="col-lg-3 col-xs-4" align="left"><p><b>신청기간</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].sstdate %> - <%= semi[0].sendate %></p></div>
		
		<div class="col-lg-3 col-xs-4" align="left"><p><b>인원</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].people %>명</p></div>
		
		<div class="col-lg-3 col-xs-4" align="left"><p><b>참가비</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><span class="amount"><%= semi[0].price %></span>원</p></div>
		
		<div class="col-lg-3 col-xs-4" align="left"><p><b>장소</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left"><%= semi[0].location %></p></div>

		<div class="col-xs-12">
		<div class="googleMap" align="center">
			<div id="map_view" style="height:350px;"></div>
			<div align="right" style="margin:10px 10px 0 0">
			  <span><%= semi[0].location %></span>
			</div>
		</div>
		</div>

		<% var state = semi[0].state; %>
		<% if(state == 1){%>
		<div class="btn-apply"><button>신청마감</button></div>
		<!--div class="btn-apply"><a href="<%= semi[0].orderurl %>"><button>신청하기</button></a></div-->
		<% }else{ %>
		<form name="apply" method="get" action="/npay">
			<input type="hidden" name="subject" value="<%= semi[0].subject %>">
			<input type="hidden" name="cate" value="<%= semi[0].cate %>">
			<input type="hidden" name="detailCate" value="<%= semi[0].decate %>">
			<input type="hidden" name="idx" value="<%=semi[0].idx%>">
			<input type="hidden" name="price" value="<%= semi[0].price %>">
			<input type="hidden" name="PRODUCTCODE" value="4">
			<div class="btn-apply"><button type="submit">신청하기</button></div>
		</form>
		<% } %>

		<div class="col-xs-12 btn-kakao-plus"><a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>플러스친구:@사이다경제</span></p></a></div>
	
	</div>
</div>


<div class="container" align="center">
	<div class="row">
		<div class="btn-apply"><a href="/seminar"><button style="width: 350px; margin: 0px 0 50px 0; border-radius: 12px;">세미나 목록보기</button></a></div>
	</div>
</div>




<% include ../bottom %>

</body>
</html>
