<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<!--meta property="fb:admins" content="{jkhhihi@naver.com}"/--><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->
<meta property="og:image" content="http://www.cidermics.com<%= discuss[0].dis_thum %>" />
<meta property="fb:app_id" content="116627908812749">

<meta property="og:title" content="<%= discuss[0].dis_title %>" />
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.cidermics.com/discuss/detail/<%= discuss[0].dis_no%>" />
<meta property="og:description" content="사이다경제" />


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= discuss[0].con_title %> - 사이다경제 | 콘텐츠</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">



<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

<!--글자수 제한 스크립트 -->
<script type="text/javascript">
    function chkword(obj, maxByte) {
 
        var strValue = obj.value;
        var strLen = strValue.length;
        var totalByte = 0;
        var len = 0;
        var oneChar = "";
        var str2 = "";
 
        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
 
            // 입력한 문자 길이보다 넘치면 잘라내기 위해 저장
            if (totalByte <= maxByte) {
                len = i + 1;
            }
        }
 
        // 넘어가는 글자는 자른다.
        if (totalByte > maxByte) {
            alert(maxByte + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, len);
            obj.value = str2;
            chkword(obj, 4000);
        }
    }
</script>

<!--- 차트 스크립트 -->
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "<%= discuss[0].dis_title%>"
		},
                animationEnabled: true,
		data: [
		{
			type: "doughnut",
			startAngle: 60,
			toolTipContent: "{legendText}: {y}",
			//toolTipContent: "{legendText}: {y} - <strong>#percent% </strong>",
			showInLegend: true,
          explodeOnClick: false, //**Change it to true
			dataPoints: [

				{y: "<%=a1%>", indexLabel: "<%=discuss[0].dis_comt_1%> : {y} ", legendText: "<%=discuss[0].dis_comt_1%>" },
				{y: "<%=a2%>", indexLabel: "<%=discuss[0].dis_comt_2%> : {y} ", legendText: "<%=discuss[0].dis_comt_2%>" },
				{y: "<%=a3%>", indexLabel: "<%=discuss[0].dis_comt_3%> : {y} ", legendText: "<%=discuss[0].dis_comt_3%>" }



	
			]
		}
		]
	});
	chart.render();
	}

</script>
<script src="/js/canvasjs.min.js"></script>

</head>
<body style="font-family: 'Nanum Gothic', serif !important;">
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>

<% include ../top %>
<div class="discuss_detail-mob_menu"><img src="/page_imgs/fixed_img/detail_line.png"></div>
									
<div class="bg-blue">
	<div class="bg-white container">
		<div class="appbanner-bg"><a href="/appdown"><img class="img-responsive" src="http://i.imgur.com/yG0WZLJ.jpg"></a></div>			
			<div class="mob-bg-blue">
				<div class="mob-bg-white container">
					<div class="discuss container">
							<div class="row">
									<div class="col-xs-12 title"><%= discuss[0].dis_title%></div>
									<div class="col-xs-6 date-view"><span class="date"><%= discuss[0].dis_update %></span><br>
										<span class="icon-view"><img src="/page_imgs/contents_img/icon_view.svg"></span><span class="date"><%=discuss[0].dis_view%></span></div>
									<div class="col-xs-6 editor" align="right"><span class="cate_name"><%= discuss[0].dis_writer %></span><br>
											<span class="write">written by <%=discuss[0].dis_writer%></span></div>
									<div class="col-xs-12 line-1px"></div>
							</div>



							
							<div class="banner">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><a href="/finance"><img class="img-responsive" src="http://imgur.com/eukyCju.jpg"></a></div>
										<!--div class="swiper-slide">배너들어가는곳</div-->
									</div>
										<!-- Add Pagination -->
										<div class="swiper-pagination"></div>
								</div>
							</div>
							
					</div>
				</div>
			</div>

	</div>
</div>

<form class="form-inline" method="post" action="/discuss/comtPush">
<input type="hidden" name="dis_no" value="<%= discuss[0].dis_no%>">
<!-- 찬성 반대 기타 버튼 -->
<div class="container">
	<div class="well well-sm text-center">
		<% if(comtCount[0].dis_no == 0){ %>
		
		<% }else{ %>
		<div id="chartContainer" style="height: 200px; width: 100%;"></div>
		<% } %>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		  <span class="glyphicon glyphicon-thumbs-up"></span>

		    <input type="radio" name="options" id="option1" autocomplete="off" checked value="0"> <%=discuss[0].dis_comt_1%>
		  </label>
		  <label class="btn btn-danger">
		  <span class="glyphicon glyphicon-thumbs-down"></span>
		    <input type="radio" name="options" id="option2" autocomplete="off" value="1"> <%=discuss[0].dis_comt_2%>
		  </label>
		  <label class="btn btn-warning">
		  <span class="glyphicon glyphicon-check"></span>
		    <input type="radio" name="options" id="option3" autocomplete="off" value="2"> 기타
		  </label>
		</div>
	</div>
</div>

<style type="text/css">
	.btn span.glyphicon {
	opacity: 0.5;				
	}
	.btn.active span.glyphicon {
	opacity: 1;				
	}
	.btn span{color:#fff;}
	.btn-warning,
	.btn-warning:focus,
	.btn-warning:hover,
	.btn-warning:visited,
	.btn-warning.active {
    background-color: #8064A2;
    border-color: #8064A2;
	}
</style>
<div class="container">
  <h2>토론하기</h2>
  <p><%= discuss[0].dis_title%></p>
	  <div class="form-group">
	    <label for="id">작성자 : </label>
	    <input type="text" class="form-control" id="exampleInputName2" placeholder="" name="comt_writer" onkeyup="chkword(this, 20)">
	  </div>
	  <div class="form-group">
	    <label for="password">비밀번호 : </label>
	    <input type="password" class="form-control" id="exampleInputEmail2" placeholder="" name="comt_pw" onkeyup="chkword(this, 22)">
	  </div>
	  <div class="form-group">
	  	<textarea class="form-control" rows="3" name="comt_text"  onkeyup="chkword(this, 100)")></textarea>
	  	<label>*100자 이하로 작성해주세요.</label>
	  </div>
	  <button type="submit" class="btn btn-primary">등록</button>
</div>
</form>

<% if(comtCount[0].dis_no == 0){ %>

<p> 아무것도 없다 </p>

<% }else{ %>
<table class="table table-condensed">
	<tr>
		<td>댓글쓰기 (<%=comtCount[0].dis_no%>)</td>
	</tr>
	<% for(var i =0; i< comt.length; i++){ %>
	<tr class="default">
		<td class="primary">
		<% if(comt[i].comt_opt == 0){ %>
		<%= discuss[0].dis_comt_1 %>
		<% } else if(comt[i].comt_opt == 1){ %>
		<%= discuss[0].dis_comt_2 %>
		<% } else if(comt[i].comt_opt == 2){ %>
		<%= discuss[0].dis_comt_3 %>
		<% } else{ %>
		<%} %>
		<br>
		<h6><%= comt[i].comt_writer %> | <%= comt[i].comt_regdate %> | <a href="#"> 신고 </a> | <a href="#"><span class="glyphicon glyphicon-remove"></span></a></h6>
		<%= comt[i].comt_text %>
		<br>
			
		<!--button value="<%= comt[i].comt_no%>" onclick="shComt()">답글</button-->
		<button class="show" id="d<%= comt[i].comt_no%>" value="<%= comt[i].comt_no%>" onclick="showJs(<%= comt[i].comt_no%>)">답글</button>
			
		<form class="form-inline" method="post" action="/discuss/comtcomtPush">
		<input type="hidden" name="dis_no" value="<%= comt[i].dis_no%>">
		<input type="hidden" name="comt_no" value="<%= comt[i].comt_no%>">
		<div class="showComt" value="<%= comt[i].comt_no%>" id="showComt<%= comt[i].comt_no%>" name="zyx" style="display:none;">
		
		<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control input-sm" name="comt_writer" ></div>
				<div class="col-xs-4">
					<input type="password" class="form-control input-sm" name="comt_pw"></div>
				<div class="form-group">
	  				<textarea class="form-control" rows="3" name="comt_text"  onkeyup="chkword(this, 100)")></textarea>
	  			</div>
	  			<button type="submit" id="submit<%= comt[i].comt_no%>" value="<%= comt[i].comt_no%>" class="btn btn-primary">등록</button>
	  			<div id="showComtco"></div>
			</div>
			
			<% for (var j=0; j < comtco.length; j++){%>
			<% console.log(comtco[j].length); %>
			<% if((comtco[j].length) > 0){ %>

			<p>1</p>
			<% }else{ %>
			<p>2</p>
			
			<% } %>
		<% } %>
		</div>
		</form>

		</td>
	</tr>
	<% } %>

</table>
<% } %>
<script type="text/javascript">
function showJs(id) {
   var chk="#showComt"+id;
    $(chk).toggle(300);
    showComtco(id);
}

function showComtco(id)
{
	var idx = id;
   $.ajax({
				url : '/ssss/'+idx,
				method : 'get',
				success : function(data){
					var ht="";
					$.each(data.ddd, function (index, value){
						ht += value.comtco_date+value.comtco_writer+value.comtco_text+value.comtco_no+"<br/>";
						document.getElementById('showComtco').innerHTML = ht;
					});
				}
			});
};
</script>

<script type="text/javascript">
	var pageNum = 1;
	var list = 50;
	var b_pageNum_list = 10;
	var block = ceil(pageNum/b_pageNum_list);
	var b_start_page = ((block -1))
</script>

         




<% include ../bottom %>

</body>
</html>
