<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다토론 - 사이다경제 | 토론</title>
<link href="/css/cid_discuss.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<!--link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/-->
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<meta property="fb:app_id" content="116627908812749">
<meta property="og:title" content="사이다토론" />
<meta property="og:site_name" content="사이다토론">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/discuss/" />
<!--meta property="og:description" content="현재 무료로 운영하고 있으니 많이 신청해주세요 :)" />
<meta property="og:image" content="http://cidermics.com/page_imgs/finance_img/finance_thum.png" /-->
</head>
<style type="text/css">
body { padding-right: 0px !important }
.but-area{text-align:center; padding:5px 20px;}
.btn{padding: 15px 20px !important;}
</style>
<body style="overflow:scroll;">
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>	
<% include ../top %>


<!-- div class="bg-blue">
<div class="bg-white container">
<div class="mob-bg-blue">
<div class="mob-bg-white container" -->
				
<div class="discuss-main container" align="center">
	<div class="title img-responsive" align="center">
		<img class="img-responsive" src="/page_imgs/discuss_img/discuss-icon3.svg">
		<p>자유 토론 포럼</p>
	</div>
<!-- modal 구동 버튼 (trigger) -->
<div class="row">
	<div class="col-xs-12" align="right">
		<span data-toggle="modal" data-target="#myModal" class="btn-request"><img src="/page_imgs/discuss_img/discuss-icon-pencil.svg"><span>주제 요청하기</span></span>
	</div>
	
	<!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	주제 요청하기
	</button-->
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">주제 요청하기</h4>
      </div>
      <!--form action="/discuss/ask" method="post"-->
      <form id='formMeg'>
      <div class="modal-body">
	       <select class="form-control" name="a_cate">
				<option value="">카테고리를 정해주세요</option>
					 <% for(var i=0; i < cate.length; i++) {  %>   
                <option value="<%=cate[i].disCate_no%>"> <%=cate[i].disCate_name%> </option>
                              
                      <% } %>
			</select>
          <div class="form-group">
            <label for="writer-name" class="control-label">작성자:</label>
            <input type="text" class="form-control" id="writer-name" name="a_writer">
          </div>
          <div class="form-group">
            <label for="title" class="control-label">제목:</label>
            <input type="text" class="form-control" id="title" name="a_title">
          </div>
          <div class="form-group">
            <label for="messageText" class="control-label">내용:</label>
            <textarea class="form-control" id="messageText" name="a_text"></textarea>
          </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">보내기</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">

//AJAX로 서브밋한 후에 메세지 넘기기 

  $(function () {

   $('#formMeg').on('submit', function (e) {

   	e.preventDefault();

	$.ajax({
 	url: 'discuss/ask/',
 	type: "POST",
	//data: JSON.stringify(data),
	data: $('#formMeg').serialize(),
	success: function(response){
  	alert('주제 요청 등록이 완료되었습니다. 소중한 의견 감사합니다.');
  	window.location.href="/discuss";
 	}
	});
   });
  });
</script>

</div>


<!--콘텐츠뿌림-->
<div class="discuss-con container" align="center">
	<!-- 콘텐츠 뿌림 시작 -->		
	<div class="con-in row" align="center">
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>	
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 mg-bot">
			<div class="row">
				<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
				<div class="dis-img col-xs-12" align="right">
					<div class="dis-icon row">
						<!-- img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
						<img style="display:inline-block;" src="/page_imgs/discuss_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
					</div>	
				</div>
				<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
			</div>
		</div>																						
	</div>
	
	<div class="btn-plus"><p>+</p></div>
</div>

<!-- /div>
</div>
</div>
</div -->

		<!-- ul class="grid effect-2" id="grid">
			<% for(var i=0; i<row.length; i++) { %>
			<li>
				<div class="img_back" align="center">
					<a href="/discuss/detail/<%= row[i].dis_no %>">
					<div class="con-img" align="center"><img class="img-responsive" src="<%= row[i].dis_thum %>"></div></a>
					<p><a href="/discuss/detail/<%= row[i].dis_no %>">
						<%= row[i].dis_title %></a></p>
				</div>
			</li>
			<% } %>
		</ul -->

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>



<% include ../bottom %>
</body>
</html>