<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>사이다경제 | 회원정보 수정</title>
<link href="/css/cid_member.css" rel="stylesheet">

<script type="text/javascript">
	function mem_update_next(){

		if(document.memUpdate.mem_birth.value.length<=7){
		 alert("생년월일은 8자리를 입력해주세요. 예) 19920101");
		 document.memUpdate.mem_birth.focus();
		 return;
		}


		if(document.memUpdate.nickchk.value.length > 1){
		 alert("중복된 닉네임입니다.");
		 document.memUpdate.nickchk.focus();
		 return;
		}

	alert("수정되었습니다.")
	document.memUpdate.submit();

	}
</script>

<body>

<% include ../top %>

<div class="mypage">

<% include mypagetop %>

<form name="memUpdate" action="/mypage/update" method="post" >
<div class="container" align="center">
	<div id="memup" class="box" align="left">
		<div class="title"><span>회원정보</span></div>
		<div class="line"></div>
		<div class="id"><p class="title1">아이디(Email)</p><span><%= memVal[0].mem_email%></span></div>
		<div class="name"><p class="title1">닉네임</p><input name='mem_nick' class="nicname1" type="text" style="IME-MODE: disabled" maxlength="6" size="12" value="<%= memVal[0].mem_nick%>"><a onclick="nickChk()"><span class="passup">중복확인</span></a></div>
		
		<div id="idchk"><input type="hidden" name="nickchk" value=1></div>
		<div class="password"><p class="title1">비밀번호</p><a href="/passup"><span class="passup">비밀번호 변경</span></a></div>
		<div class="birthday"><p class="title1">생년월일</p>
				<input name="mem_birth" class="year" type="text" maxlength="8" value="<%=memVal[0].mem_birth%>" size="8"><span>*예)19890101</span>
		</div>
		<div class="sex"><p class="title1">성별</p>
			<select name="mem_sex">
				<option selected="<%= memVal[0].mem_sex%>"><%= memVal[0].mem_sex%></option>
				<option>남</option>
				<option>여</option>
			</select>
		</div>
		<div class="line"></div>
		<div align="center">
			<div class="btn-apply"><a onClick="mem_update_next()" style="cursor:pointer"><p>적용</p></a></div>
			<div class="btn-cancel"><a href="/mypage"><p>취소</p></a></div>
		</div>
	</div>
	<div class="memdel" style="color:#666;" align="right">사이다경제
	<a href="/memdel"><span class="memdel-link">회원탈퇴 ></span></a></div>
</div>
<input type="hidden" name="mem_id" value="<%=memVal[0].mem_id%>">

</form>
</div>
<script type="text/javascript">

/* 닉네임 중복확인 */
function nickChk(){

	var nick = document.memUpdate.mem_nick.value;
	//alert(nick);

        $.ajax({
            url:'/nickcheck/',
            dataType: 'json',
				data:{
					'mem_nick' : nick,
				},

            method:"POST",
            success:function(data){
                if($.trim(data.success) == 0){
                    //alert('사용가능');
                    $('#idchk').html('<b style="font-size:16px;color:#1d87c9">사용 가능한 닉네임입니다.<input type="hidden" name="nickchk" value=0></b>');
                }else{
                    //alert('사용불가');
                    $('#idchk').html('<b style="font-size:16px;color:#ff574a">중복된 닉네임이 있습니다.<input type="hidden" name="nickchk" value=11></b>');
                }
            }
        });
}
</script>

<% include ../bottom %>
</body>
</html>
