<!DOCTYPE html>
<html>
  <head>
    <title>Cidermics admin</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <!--link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/-->
<style>
input[type=submit] {
    padding:5px 15px; 
    color:#FFFFFF;
    background:#2F8ECD;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.acss{
	padding:5px 15px; 
    color:#FFFFFF;
    background:#CCCCCC; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
</style>

  </head>
  <body>
  	<% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="container">
    	<div class="button-area">
	    	<a href="" class="waves-effect waves-light btn">총 참여자 수 : <%=teleAll[0].sry%>명</a>
    	</div>
    	
      <table class="bordered">
        <thead>
          <tr>
          	  <th data-field="tele_no">번호</th>
              <th data-field="tele_cate">카테고리</th>
              <th data-field="tele_idx">cate_no</th>
              <th data-field="tele_name">성명</th>
              <th data-field="tele_num">전화번호</th>
              <th data-field="tele_email">이메일</th>
              <th data-field="tele_email">날짜</th>
              <th data-field="tele_email">경로</th>
              <th data-field="tele_confirm">확인</th>
              <th data-field=""></th>
          </tr>
        </thead>
        <tbody>
		<% for(var i = 0; i< tele.length; i++) { %>
		  <tr>
			<input type="hidden" name="tele_no" value="<%= tele[i].tele_no %>" />
	  		<td><%= tele[i].tele_no %></td>
	        <% if(tele[i].tele_cate == 1){%>
	        <td>강의</td>
	        <% }else if(tele[i].tele_cate == 2){%>
	        <td>스터디</td>
	        <% }else if(tele[i].tele_cate == 4){ %>
	        <td>세미나</td>
	        <% }else{} %>
	        <td><%= tele[i].tele_idx %></td>
	        <td><%= tele[i].tele_name %></td>
			<td><%= tele[i].tele_num %></td>
	        <td><%= tele[i].tele_email %></td>
	        <td><%= tele[i].tele_date %></td>
	        <% if(tele[i].tele_check == 1){%>
	        <td>경이로움</td>
	        <% }else if(tele[i].tele_check == 2){%>
	        <td>업체홍보</td>
	        <% }else if(tele[i].tele_check == 3){ %>
	        <td>업체홍보</td>
	        <% }else{ %>
	        <td>업체홍보</td>
	        <% } %>
            <td>
                <% if(tele[i].tele_confirm == 'Y') { %>
                    <a class="waves-effect waves-light btn confirm" data-confirm="Y" data-idx="<%= tele[i].tele_no %>">확인</a>
                <% } else { %>
                    <a class="waves-effect waves-light teal confirm lighten-4 btn" data-confirm="N" data-idx="<%= tele[i].tele_no %>">미확인</a>
                <% } %>
            </td>
			<td><p class="acss"><a href="/adm/tele/delete/<%= tele[i].tele_no %>">삭제</a></p></td>
		   </tr>
		<% } %>
        </tbody>
      </table>
    </div>
    <script>
        $(document).ready(function (){
            $('.confirm').on('click', function (e){

                var ele = $(this);
                var val = ele.attr('data-confirm');
                var idx = ele.attr('data-idx');
                if(val == 'Y'){

                    $.ajax({
                        url: "/adm/teleConfirm",
                        type: "POST",
                        dataType: 'json',
                        data: { idx : idx, val : 'N' },
                        success: function (data) {
                            ele.html('미확인');
                            ele.addClass('lighten-4');
                            ele.addClass('teal');
                            ele.addClass('unconfirm');
                            ele.removeClass('confirm');
                            ele.attr('data-confirm', 'N');
                        }
                    });
                }else {

                    $.ajax({
                        url: "/adm/teleConfirm",
                        type: "POST",
                        dataType: 'json',
                        data: { idx : idx, val : 'Y' },
                        success: function (data) {
                            ele.text('확인');
                            ele.removeClass('lighten-4');
                            ele.removeClass('teal');
                            ele.addClass('confirm');
                            ele.removeClass('unconfirm');
                            ele.attr('data-confirm', 'Y');
                        }
                    });
                }
            });
        });

    </script>
  </body>
</html>
