<html>
<body>
<RESULT>SUCCESS</RESULT>

<!--br>
<strong> DB result </strong>
<p>CPID : <%= data[0].CPID%></p>
<p>ORDERNO : <%= data[0].ORDERNO%></p>
<p>PRODUCTTYPE : <%= data[0].PRODUCTTYPE%></p>
<p>BILLTYPE : <%= data[0].BILLTYPE%></p>
<p>TAXFREECD : <%= data[0].TAXFREECD%></p>
<p>AMOUNT : <%= data[0].AMOUNT%></p>
<p>PRODUCTNAME : <%= data[0].PRODUCTNAME%></p>
<p>APPURL : <%= data[0].APPURL%></p>
<p>HOMEURL : <%= data[0].HOMEURL%></p>
<p>CLOSEURL : <%= data[0].CLOSEURL%></p>
<p>FAILURL : <%= data[0].FAILURL%></p>
<p><br></p>
<p>CPQUOTA : <%= data[0].CPQUOTA%></p>
<p>EMAIL : <%= data[0].EMAIL%></p>
<p>USERID : <%= data[0].USERID%></p>
<p>USERNAME : <%= data[0].USERNAME%></p>
<p>PRODUCTCODE : <%= data[0].PRODUCTCODE%></p>
<p>TELNO2 : <%= data[0].TELNO2%></p>
<p>RESERVEDINDEX1 : <%= data[0].RESERVEDINDEX1%></p>
<p>RESERVEDINDEX2 : <%= data[0].RESERVEDINDEX2%></p>
<p>RESERVEDSTRING : <%= data[0].RESERVEDSTRING%></p>
<p>CARDLIST : <%= data[0].CARDLIST%></p>
<p>HIDECARDLIST : <%= data[0].HIDECARDLIST%></p>
<p>DIRECTRESULTFLAG : <%= data[0].DIRECTRESULTFLAG%></p>
<p>POPUPTYPE : <%= data[0].POPUPTYPE%></p-->

</body>
</html>
