<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>관리자 - 핀북</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <% var data= CP; %>
    <% include ../include/nav.ejs %>
    <% include nav.ejs %>
<h5 class="header center blue-text">쿠폰 코드 등록</h5>
<div class="container">
  <div class="row">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l4">
      <form method="post" action="/adm/finbook/insert">
      <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          <input id="icon_prefix" type="text" class="validate" name="regi">
          <label for="icon_prefix">등록자 registrant</label>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">add_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="codeNum">
          <label for="icon_prefix">코드 번호 code number</label>
      </div>
      <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">코드 등록
        <i class="material-icons blue lighten-2 right">send</i>
      </button>
      </form>
    </div>

    <div class="col s12 m4 l4">
      <p></p>
    </div>
  </div>
</div>
<br>

    <div class="light center"><h5>현재 쿠폰 등록 개수 : 총 <%= count[0].num %> 개 등록됨.</h5></div>
    <br>

    <table class="centered">
        <thead>
          <tr>
              <th>NO</th>
              <th>쿠폰 번호</th>
              <th>등록자</th>
              <th>등록 날짜</th>
              <th>삭제</th>
          </tr>
        </thead>
          

        <tbody>
        <% for(var i = 0; i<finbook.length; i++) { %>
          <tr>
            <td><%= finbook[i].idx %></td>
            <td><%= finbook[i].fcode %></td>
            <td><%= finbook[i].registrant %></td>
            <td><%= finbook[i].date %></td>
            <td><a href="/adm/finbook/cdDelete/<%= finbook[i].idx %>">삭제</a></td>
          </tr>
        <% } %>
        </tbody>
    </table>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
