<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1"-->
  	
    <title>Cidermics Admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script>
    $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    })
    </script>
  </head>
  <body onload="rdate()">
  	<% var data= CP; %>
    <% include ../include/nav.ejs %>

    <a href="/adm/lecture/" class="waves-effect waves-light btn modal-trigger">뒤로가기</a>
  
  <p>경이로움 후기 url : <a href ="http://cidermics.com/seminar/s">http://cidermics.com/seminar/s</a></p>
  <div class="container">
    <div class="row">
			<table>
        <thead>
          <tr>
              <th>번호</th>
              <th>이름</th>
              <th>참여일</th>
              <th>멘토명</th>
              <th>작성일</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i< slist.length; i++) { %>
            <tr>
              <input type="hidden" name="idx" value="<%= slist[i].sry_no %>" />
              <td><a href="/adm/lecture/reviewDetail/<%= slist[i].sry_no %>"><%= slist[i].sry_no %></a></td>
              <td><a href="/adm/lecture/reviewDetail/<%= slist[i].sry_no %>"><%= slist[i].sry_name %></a></td>
              <td><a href="/adm/lecture/reviewDetail/<%= slist[i].sry_no %>"><%= slist[i].sry_etc1 %></a></td>
              <td><%= slist[i].sry_etc2 %></td>
              <td><%= slist[i].date %></td>
            </tr>
          <% } %>

        </tbody>
      </table>
		</div>
  </div>
</body>
</html>
