<!DOCTYPE html>
<html lang="ko" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
<title>사이다경제 |콘텐츠</title>

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 콘텐츠" />
<meta property="og:image" content="http://cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/contents/" />
<meta property="og:description" content="사이다경제 경제,금융,주식,기업 콘텐츠" />

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<div class="bg-blue">
<div class="bg-white main-contents container">


<div class="contents-menu">
		<div class="container">
				<div class="menu" align="center">
						<a href="/contents/all"><img src="/page_imgs/contents_img/contents_menu7.svg" height='55'></a>
				
						<a href="/contents"><img src="/page_imgs/contents_img/contents_menu1.svg" height='55'></a>


						<% if(no == 1){ %>
						<a href="/contents/1"><img src="/page_imgs/contents_img/click_contents_menu2.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/1"><img src="/page_imgs/contents_img/contents_menu2.svg" height='55'></a>
						<% }%>
						
						<% if(no == 2){ %>
						<a href="/contents/2"><img src="/page_imgs/contents_img/click_contents_menu3.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/2"><img src="/page_imgs/contents_img/contents_menu3.svg" height='55'></a>
						<% }%>
						
						<% if(no == 3){ %>
						<a href="/contents/3"><img src="/page_imgs/contents_img/click_contents_menu4.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/3"><img src="/page_imgs/contents_img/contents_menu4.svg" height='55'></a>
						<% }%>
						
						<% if(no == 4){ %>
						<a href="/contents/4"><img src="/page_imgs/contents_img/click_contents_menu5.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/4"><img src="/page_imgs/contents_img/contents_menu5.svg" height='55'></a>
						<% }%>
						
						<% if(no == 5){ %>
						<a href="/contents/5"><img src="/page_imgs/contents_img/click_contents_menu6.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/5"><img src="/page_imgs/contents_img/contents_menu6.svg" height='55'></a>
						<% }%>
						
						<% if(no == 8){ %>
						<a href="/contents/8"><img src="/page_imgs/contents_img/click_contents_menu0.svg" height='75'></a>
						<% }else{%>
						<a href="/contents/8"><img src="/page_imgs/contents_img/contents_menu0.svg" height='55'></a>
						<% }%>
						
					
				</div>
		</div>
</div>

<div class="contents-mob_menu">
		<div class="menu row" align="center">
				<div class="col-xs-12 btn" style="padding:0;">


						
						<a href="/contents/all"><img src="/page_imgs/contents_img/icon_menu_mob7.svg" width='50'></a>

						<a href="/contents"><img src="/page_imgs/contents_img/icon_menu_mob1.svg" width='50'></a>

						<% if(no == 5){ %>
						<a href="/contents/5"><img src="/page_imgs/contents_img/click_icon_menu_mob6.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/5"><img src="/page_imgs/contents_img/icon_menu_mob6.svg" width='50'></a>
						<% }%>
						
						<% if(no == 8){ %>
						<a href="/contents/8"><img src="/page_imgs/contents_img/click_icon_menu_mob0.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/8"><img src="/page_imgs/contents_img/icon_menu_mob0.svg" width='50'></a>
						<% }%>
					
				</div>

				<div class="col-xs-12 btn" style="padding:0;">

						
						<% if(no == 1){ %>
						<a href="/contents/1"><img src="/page_imgs/contents_img/click_icon_menu_mob2.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/1"><img src="/page_imgs/contents_img/icon_menu_mob2.svg" width='50'></a>
						<% }%>
						
						<% if(no == 2){ %>
						<a href="/contents/2"><img src="/page_imgs/contents_img/click_icon_menu_mob3.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/2"><img src="/page_imgs/contents_img/icon_menu_mob3.svg" width='50'></a>
						<% }%>

						<% if(no == 3){ %>
						<a href="/contents/3"><img src="/page_imgs/contents_img/click_icon_menu_mob5.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/3"><img src="/page_imgs/contents_img/icon_menu_mob5.svg" width='50'></a>
						<% }%>
						
						<% if(no == 4){ %>
						<a href="/contents/4"><img src="/page_imgs/contents_img/click_icon_menu_mob4.svg" width='50'></a>
						<% }else{%>
						<a href="/contents/4"><img src="/page_imgs/contents_img/icon_menu_mob4.svg" width='50'></a>
						<% }%>
					
				</div>



		</div>
</div>

<style type="text/css">
	.con_border{
		border: 1px solid #ececec;
		border-radius: 6px;
		padding-bottom: 10px;
	}
</style>

<!--콘텐츠뿌림-->
<div class="contents container">
		<ul class="grid effect-2" id="grid">
				<% for(var i=0; i<contents.length; i++) { %>
				<li>
				<div class="con_border">
					<a href="/contents/detail/<%= contents[i].con_no %>" style="margin-top: 0px;">
					<div class="con-img" align="center"><img class="img-responsive" src="<%= contents[i].con_photo %>"></div></a>
					<p><a href="/contents/detail/<%= contents[i].con_no %>" style="margin: 10px 10px;">
						<%= contents[i].con_title %></a></p>
				</div>
			</li>
			<% } %>
		</ul>
</div>

<div class="icon-plus_con" align="center" onclick="addMore()"><img class="img-responsive" src="/page_imgs/fixed_img/icon_plus_con.svg"></div>

</div>
</div>

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>


<% include ../bottom %>


<script>
		var idx = 3;
		var p=2;
		
		
		function addMore (){
			var contents = '';
			$.ajax({
				url : '/addMore2/'+idx+"/"+<%=no%>,
				method : 'get',
				success : function(data){
					if (data.contents.length == 0){
						alert('마지막 콘텐츠입니다.');
						return;
					}
					idx ++;
					$.each(data.contents, function (index, value){
						contents += '<li> ' +
							 			'<div class="con-border bg-w"> ' + 
												'<a href="/contents/detail/'+value.con_no+'"> ' +
													'<div class="con-img"  align="center"> ' +
														'<img src="'+value.con_photo+'"/> ' + 
													'</div> ' +
												'</a> ' +
							 					'<a href="/contents/detail/'+value.con_no+'"> ' +
							 						'<div class="con-title"><span><center>' + value.con_title +'</center></span></div>' +
							 					'</a> '+
							 			'</div> '+
							 		'</li> ';
							
					});
					$('#grid').append(contents);
					new AnimOnScroll( document.getElementById( 'grid' ), {
						minDuration : 0.4,
						maxDuration : 0.7,
						viewportFactor : 0.2
					} );
					
				}
			});
		}
		
</script>
</body>
</html>
